body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-feature-settings: "kern", "liga", "clig", "calt";
  word-wrap: break-word;
  font-kerning: normal;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  line-height: 1.4;
}

a {
  color: #61dafb;
  transition: color 0.2s ease-out;
  text-decoration: none;
}
a:hover {
  color: #f58fff;
}

button:hover {
  cursor: pointer;
}

section {
  width: 100%;
  min-height: calc(100vh - 64px);
  display: flex;
  background: #222;
  color: #fff;
}

