{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers", "syntax-object-rest-spread", "transform-object-rest-spread", "istanbul"
  ]
}
