# See https://help.github.com/ignore-files/ for more about ignoring files.

# Specifics
packages/plugin-theme/src/bundle.css.js
packages/components/Blockquote
packages/components/Draft
packages/components/DraftConfigurator
packages/components/Emblem
packages/components/Example
packages/components/Footer
packages/components/Icon
packages/components/Logo
packages/components/Navbar
packages/components/Ogol
packages/components/Robot
packages/components/SampleConfigurator
packages/components/withGist
packages/components/withLanguage
packages/components/Workbench
packages/core/coverage
packages/workbench
.netlify

# dependencies
node_modules

# build
dist
build

# Mock registry (verdaccio)
.registry

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
packages/core/.nyc_output
