# See https://help.github.com/ignore-files/ for more about ignoring files.

# .env
.env
*.key

# Plugins
plugins/plugin-theme/src/bundle.css.js
plugins/plugin-theme/css

# Components package build artifacts
packages/components/Blockquote
packages/components/Draft
packages/components/DraftConfigurator
packages/components/Emblem
packages/components/Example
packages/components/Footer
packages/components/Icon
packages/components/Legend
packages/components/LineDrawing
packages/components/Logo
packages/components/Navbar
packages/components/Render
packages/components/Ogol
packages/components/Robot
packages/components/SampleConfigurator
packages/components/Spinner
packages/components/withGist
packages/components/withLanguage
packages/components/withStorage
packages/components/Workbench

# Code coverage reports
packages/core/coverage
packages/*/report

# Utils package build artifacts
packages/utils/backend
packages/utils/camelCase
packages/utils/capitalize
packages/utils/convertSize
packages/utils/cloneObject
packages/utils/defaultGist
packages/utils/defaultSa
packages/utils/formatImperial
packages/utils/formatMm
packages/utils/isDegMeasurement
packages/utils/measurementAsMm
packages/utils/measurementDiffers
packages/utils/neckstimate
packages/utils/optionDefault
packages/utils/optionType
packages/utils/roundMm
packages/utils/roundMmDown
packages/utils/roundMmUp
packages/utils/sliderStep
packages/utils/smallestImperialStep
packages/utils/storage
packages/utils/tiler
packages/utils/validateEmail
packages/utils/validateTld

# Any NPM or Yarn lock files
designs/*/package-lock.json
designs/*/yarn.lock
packages/*/package-lock.json
packages/*/yarn.lock
plugins/*/package-lock.json
plugins/*/yarn.lock

# NPM lock files for sites (we use yarn)
sites/*/package-lock.json

# Sanity cache
sites/sanity/.sanity

# Sites prebuild artifacts
sites/*/public/locales/*/*.json
sites/*/public/feeds/*
packages/new-design/shared/public/locales/*/*.json
packages/new-design/shared/.gitignore
packages/new-design/lib/banner.mjs
# Translation files for NextJS
# Remove this after we move to Node 16 and deprecate pattern-info
#/home/joost/git/freesewing/packages/i18n/src/next/*/*.mjs

# Lab auto-generated pages
sites/lab/lib
sites/lab/pages
# but not the indexes
!sites/lab/pages/*/index.js

# dev auto-generated pages
site/lab/pages/*
# But not these
404.mjs
_app.mjs
contact.mjs
index.mjs

# org auto-generated pages
sites/org/pages/docs/*

# Node dependencies
node_modules

# Build folders
dist
build
export
packages/core/out

# Prebuild files
prebuild/*.json

# Yarn
.yarn
.yarnrc

# NextJS
.next
sites/*/out
sites/*/public/mdx
sites/*/prebuild
!sites/shared/prebuild
sites/shared/prebuild/data
sites/dev/public/og

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
packages/core/.nyc_output
packages/i18n/sort.sh
.gitignore
scripts/taskrunner.sh
scripts/verdaccio.sh

# Don't ignore the specific Points.dist() docs folder
!markdown/dev/reference/api/point/dist

.test-failures.log

# e2e test results
sites/*/playwright-report
