# Since we generate a bunch of YAML and MarkDown files programatically
# It triggers this constant fight between prettier and YAML/MD formatting
# So let's not
*.yaml
*.yml
*.md
*.mustache
*.gif
*.ico
*.jpg
*.png
*.svg
*.prisma
*.sqlite
*.html
*.env
*.sh
Dockerfile
LICENSE
yarn.lock
.husky/pre-commit
.prettierignore
.gitignore
.eslintignore
.gitkeep
.all-contributorsrc
