nav.breadcrumbs {
  ul {
    @include button-font;
    margin-left: 0;
    padding-left: 0;
    font-size: 95%;
    font-weight: 500;
    @include title-color-light;
    line-height: 1.1;
    li {
      list-style-type: none;
      display: inline-block;
    }
    li:first-child:before {
      content: '';
      padding: 0;
    }
    li:before {
      content: '»';
      padding: 0 0.5rem;
      font-size: 125%;
      font-weight: 700;
    }
  }
}
.theme-wrapper.dark nav.breadcrumbs ul {
  @include title-color-dark;
}
