ul.config {
  @include button-font;
  padding: 0;
}
ul.config.l1 {
  overflow-x: hidden;
}
ul.config.l2,
ul.config.l3,
ul.config.l4 {
  margin: 0;
  padding: 0;
}

ul.config li {
  list-style-type: none;
}

/* level 1 */
ul.config.l1 > li > span {
  display: block;
  padding: 0.25rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid $oc-gray-6;
  margin: 0.5rem 0;
}

/* level 2 */
ul.config.l2 > li.collapsed > span,
ul.config.l2 > li.expanded > span {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

ul.config.l2 > li > span:hover {
  cursor: pointer;
  background: $oc-gray-5;
}

/* level 3 */
div.collapsed {
  display: none;
}
ul.config.l2 > li > div,
ul.config.l3 > li > div,
ul.config.l4 > li > div {
  padding: 0.25rem 1.5rem 0.25rem 1.5rem;
}
ul.config.l3 > li > div.expanded,
ul.config.l4 > li > div.expanded {
  margin: 0 0 2rem 0;
  padding: 0.75 0.5rem 1.5rem;
}
ul.config.l2 > li > div:hover,
ul.config.l3 > li > div:hover,
ul.config.l4 > li > div:hover {
  cursor: pointer;
  background: $oc-gray-4;
}
ul.config.l2 > li > div.expanded:hover,
ul.config.l3 > li > div.expanded:hover {
  background: initial;
  cursor: initial;
}
div.expanded div.MuiSlider-container {
  width: initial;
  margin: 0;
  overflow: initial;
}
ul.config p {
  @include body-font;
}

/* level 4 */
ul.config.l3 li span.subheading {
  padding-left: 2rem;
  font-weight: bold;
}
ul.config.l4 > li > div {
  padding-left: 2.5rem;
}

span.dflt,
span.p-dflt,
span.custom {
  padding: 2px 4px;
  border-radius: 4px;
}
.theme-wrapper.light span.custom {
  background: $oc-orange-2;
}
.theme-wrapper.dark span.custom {
  color: $oc-yellow-8;
}
.theme-wrapper.light span.p-dflt {
  background: $oc-green-2;
}
.theme-wrapper.dark span.p-dflt {
  color: $oc-green-6;
}
.theme-wrapper.light div.col-exp.expanded {
  border-left: 4px solid $fc-text-light;
}
.theme-wrapper.dark div.col-exp.expanded {
  border-left: 4px solid $fc-text-dark;
}

svg.icon-col-exp {
  margin-bottom: -5px;
  margin-right: 5px;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 0.4;
}
svg.icon-col-exp.expanded {
  transform: rotate(90deg);
  opacity: 1;
}
button.mini-icon-btn {
  margin: 0;
  padding: 2px;
}
.theme-wrapper.light button.mini-icon-btn.recipe:enabled {
  color: $oc-blue-7;
}
.theme-wrapper.light button.mini-icon-btn.pattern:enabled {
  color: $oc-green-8;
}
.theme-wrapper.dark button.mini-icon-btn.recipe:enabled {
  color: $oc-blue-5;
}
.theme-wrapper.dark button.mini-icon-btn.pattern:enabled {
  color: $oc-green-6;
}
