ul.nav { padding-left: 0;}
ul.nav.l1 { overflow-x: hidden;}
ul.nav.l2,
ul.nav.l3,
ul.nav.l4 {
  margin: 0;
  padding: 0;
}

ul.nav li {list-style-type: none;}
ul.nav p { @include body-font;}
ul.nav.l4 li { padding-left: 0.75rem; }
ul.nav h2,
ul.nav h3,
ul.nav h4,
ul.nav h5 {
  display: block;
  margin: 0;
  padding: 0.5rem 0.25rem 0.5rem 1rem;
}
ul.nav h3:hover,
ul.nav h4:hover {
  cursor: pointer;
  background: $oc-gray-3;
}
ul.nav h5 { padding-left: 1.5rem; }
ul.nav h3 {
  position: sticky;
  top: 0;
  background: $oc-gray-1;
  z-index: 3;
}
ul.nav span.custom {
  color: $fc-bg-dark;
  font-weight: bold;
}
.col-exp {
  transition: max-height 0.2s ease-in-out, opacity 0.1s cubic-bezier(.55,.06,.68,.19) 0.05s;
}

.col-exp.expanded {
  margin-top: 0;
  opacity: 1;
}
.col-exp.collapsed {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
}

svg.icon-col-exp {
  margin-bottom: -5px;
  margin-right: 5px;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 0.4;
}
svg.icon-col-exp.expanded {
  transform: scale(-1);
  opacity: 1;
}

ul.nav.l2 div.col-exp,
ul.nav.l3 div.col-exp,
ul.nav.l4 div.col-exp {
  margin: 0 27px;
}

button.mini-icon-btn {
  margin: 0;
  padding: 2px;
}

.theme-wrapper.dark {
  ul.nav h3,
  ul.nav h4 {
    background: $oc-gray-8;
  }
  ul.nav h3:hover,
  ul.nav h4:hover {
    cursor: pointer;
    background: $oc-gray-7;
  }
  ul.nav span.custom {
    color: $fc-bg-light;
  }
}
