svg.freesewing.draft {
  g.design.point {
    circle {
      stroke: none;
      fill-opacity: 0.5;
    }
    circle.hovertrap {
      opacity: 0;
      transition: opacity 0.1s ease-in;
    }
    circle.hovertrap:hover {
      cursor: pointer;
      opacity: 0.3;
    }
  }
  path.design.hovertrap {
    stroke-width: 5;
    stroke-opacity: 0;
    transition: stroke-opacity 0.1s ease-in;
  }
  path.design.hovertrap:hover {
    cursor: pointer;
    stroke-opacity: 0.2;
  }
  path.focus.point,
  path.focus.coords {
    stroke-width: 0.2;
    stroke: $oc-red-6;
  }
  circle.focus.point,
  circle.focus.coords {
    fill: white;
    fill-opacity: 0.01;
    stroke: $oc-red-6;
    stroke-width: 0.2;
  }
  circle.focus.point:hover,
  circle.focus.coords:hover {
    cursor: pointer;
  }
  path.focus.path {
    stroke-width: 5;
    stroke-opacity: 0.3;
    stroke-dasharray: 4 5.5;
  }
  path.focus.path:hover {
    cursor: pointer;
  }
  path.focus.point.c0,
  circle.focus.point.c0,
  path.focus.coords.c0,
  circle.focus.coords.c0 {
    stroke: $oc-red-6;
  }
  path.focus.point.c1,
  circle.focus.point.c1,
  path.focus.coords.c1,
  circle.focus.coords.c01 {
    stroke: $oc-green-6;
  }
  path.focus.point.c2,
  circle.focus.point.c2,
  path.focus.coords.c2,
  circle.focus.coords.c02 {
    stroke: $oc-blue-6;
  }
  path.focus.point.c3,
  circle.focus.point.c3,
  path.focus.coords.c3,
  circle.focus.coords.c03 {
    stroke: $oc-grape-6;
  }
  path.focus.coords,
  circle.focus.coords {
    stroke-dasharray: 3 3;
  }
  path.design.path.cp {
    stroke: $oc-orange-5;
    stroke-width: 0.5;
  }
  circle.design.path.cp {
    stroke: $oc-orange-5;
    stroke-width: 1;
  }
  path.focus.path.c0 {
    stroke: $oc-red-6;
  }
  path.focus.path.c1 {
    stroke: $oc-green-6;
  }
  path.focus.path.c2 {
    stroke: $oc-blue-6;
  }
  path.focus.path.c3 {
    stroke: $oc-grape-6;
  }
}

div.design {
  @include button-font;
  font-size: 115%;
  margin: 1rem 0;
  text-align: left;
  .path,
  .point {
    border-left: 3px solid transparent;
    padding-left: 5px;
    margin-bottom: 3px;
    font-size: 80%;
  }
  .path {
    border-left: 3px dashed transparent;
  }
  .path.c0,
  .point.c0 {
    border-color: $oc-red-6;
  }
  .path.c1,
  .point.c1 {
    border-color: $oc-green-6;
  }
  .path.c2,
  .point.c2 {
    border-color: $oc-blue-6;
  }
  .path.c3,
  .point.c3 {
    border-color: $oc-grape-6;
  }
}

.theme-wrapper.light svg.freesewing.draft {
  g.design.point {
    circle {
      fill: $fs-link-light;
    }
    circle.hovertrap {
      stroke: $fs-link-light;
    }
  }
  path.design.hovertrap {
    stroke: $fs-link-light;
  }
  circle.design.path.cp {
    fill: $fs-bg-light;
  }
}

.theme-wrapper.dark svg.freesewing.draft {
  g.design.point {
    circle {
      fill: $fs-link-dark;
    }
    circle.hovertrap {
      stroke: $fs-link-dark;
    }
  }
  path.design.hovertrap {
    stroke: $fs-link-dark;
  }
  circle.design.path.cp {
    fill: $fs-bg-dark;
  }
  path.focus.path {
    stroke-opacity: 0.5;
  }
}
