figure.example {
  border: 1px solid transparent;
  div.example {
    position: relative;
    div.actions {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
figure.design.example {
  border-color: $oc-gray-4;
  svg.freesewing.draft.design {
    border-bottom: 1px solid $oc-gray-4;
  }
  figcaption {
    display: none;
  }
}
