button.fab {
  position: fixed;
  bottom: 1rem;
  width: 64px;
  height: 64px !important;
  z-index: 20;
  font-size: 2rem;
  border-radius: 50%;
}
button.fab.primary {
  right: 1rem;
}
button.fab.secondary {
  right: calc(1.5rem + 64px);
}

.style-wrapper.light,
.theme-wrapper.light,
.style-wrapper.dark,
.theme-wrapper.dark {
  button.fab.accent {
    background-color: $fs-accent-light;
    color: $fs-text-dark;
  }
  button.fab.accent:hover {
    background-color: darken($fs-accent-light, 10%);
  }
}
