button.fab {
  position: fixed;
  bottom: 1rem;
  width: 64px;
  height: 64px!important;
  background: $fc-text-light!important;
  z-index: 20;
  font-size: 2rem;
  border: 1px solid $oc-gray-7;
  border-radius: 50%;
}
button.fab.primary {
  right: 1rem;
}
.theme-wrapper.dark button.fab {
  background: $fc-text-dark!important;
}
