svg.fs.linedrawing {
  path.primary {
    stroke-width: 1.5;
  }
  path.primary-line {
    stroke-width: 1.5;
    fill: none;
  }
  path.secondary {
    stroke-width: 0.75;
  }
  path.inside {
    stroke-width: 1.5;
  }
  path.stitch {
    stroke-width: 0.5;
    stroke-dasharray: 3 1;
    fill: none;
  }
}

.theme-wrapper.light svg.fs.linedrawing {
  path.primary {
    stroke: $oc-gray-8;
    fill: $oc-gray-3;
  }
  path.secondary {
    stroke: $oc-gray-8;
    fill: none;
  }
  path.inside, rect.inside {
    stroke: $oc-gray-8;
    fill: $oc-gray-5;
  }
  path.stitch,
  path.primary-line {
    stroke: $oc-gray-8;
  }
}
.theme-wrapper.dark svg.fs.linedrawing {
  path.primary {
    stroke: $oc-gray-5;
    fill: $oc-gray-9;
  }
  path.secondary {
    stroke: $oc-gray-5;
    fill: none;
  }
  path.inside, rect.inside {
    stroke: $oc-gray-5;
    fill: $oc-gray-7;
  }
  path.stitch,
  path.primary-line {
    stroke: $oc-gray-5;
  }
}

