ul#main-menu {
  margin: 0;
  padding: 2rem 0;
  li {
    display: block;
    a {
      display: block;
      padding: 0.1rem 1rem;
      text-transform: capitalize;
    }
    a:hover {
      text-decoration: none;
      background: $oc-gray-2;
    }
  }
  > li {
    font-size: 1.4rem;
    font-weight: 500;
    a {
      color: $oc-gray-7;
      svg {
        padding-right: 0.5rem;
        margin-bottom: -2px;
        color: $oc-violet-5;
      }
    }
    a.active {
      border-left: 4px solid $oc-green-5;
      svg {
        color: $oc-gray-7;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-transform: none;
  }
  ul[class^='level-'] {
    > li {
      line-height: 1.5;
      > a {
        padding: 0;
        font-weight: 400;
        text-transform: none;
      }
      > a:before {
        content: '';
        background-color: currentColor;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        display: inline-block;
        margin-right: 0.5rem;
        margin-bottom: 2px;
      }
      > a:hover:before {
        color: $oc-violet-4;
      }
      > a.active {
        font-weight: 500;
        background-color: $oc-gray-3;
        border-left: none;
      }
      > a.active:before {
        background-color: $oc-green-5;
      }
    }
  }
  ul.level-1 > li {
    > a {
      padding: 0.1rem 0.5rem 0.1rem 1.5rem;
      font-size: 1.2rem;
    }
    > a:before {
      width: 7px;
      height: 7px;
    }
  }
  ul.level-2 > li {
    > a {
      padding: 0.3rem 0.5rem 0.3rem 3rem;
      font-size: 1.1rem;
      line-height: 1;
    }
    > a:before {
      width: 7px;
      height: 7px;
    }
  }
  ul.level-3 > li {
    > a {
      padding-left: 4rem;
      font-size: 1.05rem;
    }
    > a:before {
      width: 6px;
      height: 6px;
    }
  }
  ul.level-4 > li {
    > a {
      padding-left: 5rem;
      font-size: 1rem;
    }
    > a:before {
      width: 5px;
      height: 5px;
      line-height: 4px;
    }
  }
}
@include sm-screen {
  ul#main-menu {
    padding: 1rem 0;
    li a {
      padding: 0.1rem 0.5rem;
      font-size: 90%;
    }
  }
}

.theme-wrapper.dark ul#main-menu {
  li {
    a:hover {
      background: $oc-gray-9;
    }
  }
  > li {
    a {
      color: $oc-gray-4;
      svg {
        color: $oc-violet-3;
      }
    }
    a.active {
      border-left: 4px solid $oc-green-4;
      svg {
        color: $oc-gray-4;
      }
    }
  }
  ul[class^='level-'] {
    > li {
      > a:hover:before {
        color: $oc-violet-3;
      }
      > a.active {
        background-color: $oc-gray-8;
        border-left: none;
      }
      > a.active:before {
        background-color: $oc-green-4;
      }
    }
  }
}
