header.navbar {
  height: 64px;
  width: calc(100% - 52px);
  margin: 0;
  padding: 0 26px;
  background: $fc-bg-dark;
  z-index: 15;

  div.logo {
    height: 64px;
    padding: 0;
    margin: 0;
    margin-right: 13px;
    display: flex;
    align-items: center;
    color: $oc-gray-2;
    a { text-decoration: none; }
  }
  div.emblem {
    margin-right: 26px;
    a { text-decoration: none; }
  }
  div.spread { flex-grow: 1}
  a.nav,
  button {
    @include title-font;
    margin: 0;
    padding: 0 13px;
    height: 60px;
    color: $fc-text-dark;
    border: 0;
    line-height: 64px;
    border-bottom: 4px solid $fc-bg-dark;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease-in-out;
    background:none;
  }
  button {
    /* For buttons, border does not count for height */
    height: 64px;
  }
  button:hover,
  a.nav:hover {
    cursor: pointer;
  }
  button:hover,
  a.nav:hover,
  button.active,
  a.nav.active {
    color: $fc-link-dark;
    border-color: $fc-link-dark;
  }
  svg.nav-icon {
    margin-right: 5px;
    margin-bottom: -6px;
  }
  svg.nav-icon.moon {
    transform: rotate(26deg);
  }
}

header.navbar > div {
  display: flex;
  align-items: center;
}

