header.navbar {
  height: 64px;
  width: calc(100% - 52px);
  margin: 0;
  padding: 0 26px;
  background: $fc-bg-dark;
  z-index: 15;
  div {
    align-items: center;
  }

  div.logo {
    height: 64px;
    padding: 0;
    margin: 0;
    margin-right: 13px;
    display: flex;
    align-items: center;
    color: $oc-gray-2;
    a {
      text-decoration: none;
      height: 42px;
      width: 42px;
    }
  }
  div.emblem {
    margin-right: 26px;
    a {
      text-decoration: none !important;
      @include button-font;
      font-size: 26px;
      span.lem {
        color: $oc-gray-2;
      }
      span.emb {
        color: $fc-link-dark;
      }
    }
  }
  div.spread {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  a.nav,
  button {
    @include title-font;
    text-decoration: none !important;
    margin: 0;
    padding: 0 13px;
    height: 60px;
    color: $fc-text-dark !important;
    border: 0;
    line-height: 64px;
    border-bottom: 4px solid $fc-bg-dark;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease-in-out;
    background: none;
  }
  button {
    /* For buttons, border does not count for height */
    height: 64px;
  }
  button:hover,
  a.nav:hover {
    cursor: pointer;
  }
  button:hover,
  a.nav:hover,
  button.active,
  a.nav.active {
    color: $fc-link-dark;
    border-color: $fc-link-dark;
  }
  svg.nav-icon {
    margin-right: 5px;
    margin-bottom: -6px;
  }
  svg.nav-icon.moon {
    transform: rotate(26deg);
  }
}

header.navbar > div {
  display: flex;
  align-items: center;
}

@include xs-screen {
  header.navbar {
    display: none;
  }
}

@include sm-screen {
  header.navbar {
    height: 54px;
    width: calc(100% - 36px);
    padding: 0 18px;
    > div {
      height: 54px;
    }
    div.logo,
    div.emblem {
      margin-right: 12px;
    }
    div.logo a {
      height: 32px;
      width: 32px;
    }
    div.emblem a {
      font-size: 22px;
    }
    a.nav {
      padding: 0 6px;
      line-height: 54px;
      height: 50px;
    }
    button {
      padding: 0 6px;
      height: 54px;
      line-height: 54px;
    }
  }
}
