div.prev-next {
  margin: 4rem 0 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 9px;
  border-top: 1px solid $oc-gray-3;
  color: transparent;
}
