div.prev-next {
  margin: 3.33rem 0 6.66rem 0;
  padding: 0.25rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  background: $oc-blue-0;
  border: 1px solid $oc-blue-1;
  border-radius: 4px;
  padding: 9px;
}
.theme-wrapper.dark {
  div.prev-next {
    background: $oc-blue-9;
    border-color: $oc-blue-7;
  }
}
