ul.ais-Hits-list {
  padding-left: 0;
  li {
    list-style-type: none;
  }

  h2 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  div.path a {
    @include button-font;
    font-size: 95%;
  }
}

div.theme-wrapper.light ul.ais-Hits-list div.path a {
  color: $oc-green-9;
}
div.theme-wrapper.dark ul.ais-Hits-list div.path a {
  color: $oc-green-3;
}
