svg.spinner {
  path {
    stroke: none;
    fill: #000;
  }
  rect {
    fill: none;
    stroke: none;
  }
  rect.blink {
    fill: #000;
  }
  circle {
    fill: none;
    stroke: rgba(0, 0, 0, 0.4);
  }
  circle.darker {
    stroke: rgba(0, 0, 0, 0.6);
  }
  circle.lighter {
    stroke: rgba(0, 0, 0, 0.2);
  }
}
.dark,
.theme-wrapper.dark {
  svg.spinner {
    path {
      stroke: none;
      fill: #fff;
    }
    rect {
      fill: none;
      stroke: none;
    }
    rect.blink {
      fill: #fff;
    }
    circle {
      fill: none;
      stroke: rgba(255, 255, 255, 0.4);
    }
    circle.darker {
      stroke: rgba(255, 255, 255, 0.6);
    }
    circle.lighter {
      stroke: rgba(255, 255, 255, 0.2);
    }
  }
}
