ul.topics {
  margin: 0;
  padding: 0;
}
ul.topics:first-child { padding-top: 1rem; }
ul.topics:last-child { padding-bottom: 1rem; }
ul.topics > li {
  @include title-font;
  list-style-type: none;
  margin: 0;
  a.topic {
    display: block;
    padding: 0.25rem 0.5rem;
    border-left: 4px solid transparent;
    color: $fc-text-light!important;
  }
  a.topic:hover {
    background: $oc-gray-5;
    text-decoration: none!important;
  }
}
ul.topics > li.inactive {
  font-weight: normal;
}
ul.topics > li.active {
  font-weight: bold;
  a.topic {
    border-left: 4px solid $fc-text-light;
  }
}

.theme-wrapper.light ul.topic-links a { color: $fc-text-light; }
.theme-wrapper.dark ul.topic-links a { color: $fc-text-dark; }
.theme-wrapper.light ul.topic-links ul.links a { color: $fc-link-light; }
.theme-wrapper.dark ul.topic-links ul.links a { color: $fc-link-dark; }

ul.topic-links {
  margin: 0;
  padding: 0;
  li { list-style-type: none; }
}
ul.topic-links li {
  padding-left: 1rem;
}
ul.topic-links.level-1 > li {
  padding-left: 1.5rem;
}

ul.topic-links ul.links {
  margin-left: 1rem;
  padding: 0;
  li {
    padding-left: 0.5rem;
    color: $fc-link-light;
  }
}

ul.topic-links a {
  color: $fc-text-light;
  font-weight: normal;
}
ul.topic-links a.active {
  font-weight: bold;
}
.theme-wrapper.dark ul.topic-links a {
  color: $fc-text-dark;
}

.theme-wrapper.dark ul.topics > li.active a.topic {
    border-color: $fc-text-dark;
}
ul.opics > li > ul.topics.l1 {
  font-weight: normal;
  a {
    color: $fc-text-light!important;
    padding-left: 2.5rem;
    display: block;
  }
  a:hover {
    background: $oc-gray-3;
    text-decoration: none!important;
  }
  li.active a {
    font-weight: bold;
  }
  ul.links {
    margin-left: 1.5rem;
    > li > a {
      display: inline;
      padding: 0;
      color: $fc-link-light!important;
      font-weight: normal;
    }
    > li > a:hover {
      text-decoration: underline!important;
      background: transparent;
    }
  }
}

.theme-wrapper.dark {
  ul.topics > li {
    a.topic {
      color: $fc-text-dark!important;
    }
    a.topic:hover {
      background: $oc-gray-6;
    }
  }
  ul.topics > li > ul.topics.l1 {
    a {
      color: $fc-text-dark!important;
    }
    a:hover {
      background: $oc-gray-7;
    }
    ul.links {
      > li > a {
        color: $fc-link-dark!important;
      }
      > li > a:hover {
        text-decoration: underline!important;
        background: transparent;
      }
    }
  }
}
