div.zoombox {
  position: relative;

  div.mask {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: transparent;
  }
  div.mask:hover {
    cursor: crosshair;
  }
  div.box {
    position: absolute;
  }
  div.box.active {
    border: 3px solid #49505766;
  }
  div.box.inactive {
    border: 3px solid #1c7ed666;
  }
  div.box.inactive:hover {
    cursor: move;
  }
  .close {
    position: absolute;
    right: -16px;
    bottom: -16px;
  }
}
