/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* Neutral */
  --neutral-50: 0 0% 98%;
  --neutral-100: 0 0% 96.1%;
  --neutral-200: 0 0% 89.8%;
  --neutral-300: 0 0% 83.1%;
  --neutral-400: 0 0% 63.9%;
  --neutral-500: 0 0% 45.1%;
  --neutral-600: 0 0% 32.2%;
  --neutral-700: 0 0% 25.1%;
  --neutral-800: 0 0% 14.9%;
  --neutral-900: 0 0% 9%;
  --neutral-950: 0 0% 3.9%;

  /* Sky */
  --sky-50: 204 100% 97.1%;
  --sky-100: 204 93.8% 93.7%;
  --sky-200: 200.6 94.4% 86.1%;
  --sky-300: 199.4 95.5% 73.9%;
  --sky-400: 198.4 93.2% 59.6%;
  --sky-500: 198.6 88.7% 48.4%;
  --sky-600: 200.4 98% 39.4%;
  --sky-700: 201.3 96.3% 32.2%;
  --sky-800: 201 90% 27.5%;
  --sky-900: 202 80.3% 23.9%;
  --sky-950: 204 80.2% 15.9%;

  /* Violet */
  --violet-50: 250 100% 97.6%;
  --violet-100: 251.4 91.3% 95.5%;
  --violet-200: 250.5 95.2% 91.8%;
  --violet-300: 252.5 94.7% 85.1%;
  --violet-400: 255.1 91.7% 76.3%;
  --violet-500: 258.3 89.5% 66.3%;
  --violet-600: 262.1 83.3% 57.8%;
  --violet-700: 263.4 70% 50.4%;
  --violet-800: 263.4 69.3% 42.2%;
  --violet-900: 263.5 67.4% 34.9%;
  --violet-950: 261.2 72.6% 22.9%;

  /* Pink */
  --pink-50: 327.3 73.3% 97.1%;
  --pink-100: 325.7 77.8% 94.7%;
  --pink-200: 325.9 84.6% 89.8%;
  --pink-300: 327.4 87.1% 81.8%;
  --pink-400: 328.6 85.5% 70.2%;
  --pink-500: 330.4 81.2% 60.4%;
  --pink-600: 333.3 71.4% 50.6%;
  --pink-700: 335.1 77.6% 42%;
  --pink-800: 335.8 74.4% 35.3%;
  --pink-900: 335.9 69% 30.4%;
  --pink-950: 336.2 83.9% 17.1%;

  /* Color Palette */
  --ifm-color-primary: hsl(var(--sky-500));
  --ifm-color-primary-dark: hsl(var(--sky-600));
  --ifm-color-primary-light: hsl(var(--sky-400));
  --ifm-color-secondary: hsl(var(--sky-300));
  --ifm-color-tertiary: hsl(var(--pink-500));

  /* Text Colors */
  --ifm-font-color-base: hsl(var(--neutral-900));
  --ifm-font-color-light: hsl(var(--neutral-50));
  --ifm-font-color-secondary: hsl(var(--sky-500));

  /* Background Colors */
  --ifm-background-color: hsl(var(--neutral-50));
  --ifm-background-color-secondary: hsl(var(--neutral-100));

  /* Borders and Outlines */
  --ifm-border-color: hsl(var(--neutral-200));
  --ifm-outline-color: hsl(var(--pink-300));

  /* Link colors */
  --ifm-link-color: hsl(var(--sky-600));
  --ifm-link-hover-color: hsl(var(--sky-700));

  /* Button Colors */
  --ifm-button-color: hsl(var(--neutral-50));
  --ifm-button-background-color: hsl(var(--sky-500));
  --ifm-button-background-hover-color: hsl(var(--sky-700));
  --ifm-button-border-color: hsl(var(--sky-600));

  /* Font Sizes and Spacing */
  --ifm-font-size-base: 16px;
  --ifm-line-height-base: 1.5;
  --ifm-spacing-unit: 8px;
  --ifm-spacing-base: 16px;

  /* Sidebar/Navigation Customizations */
  --ifm-sidebar-background-color: hsl(var(--neutral-50));
  --ifm-sidebar-link-color: hsl(var(--neutral-500));
  --ifm-sidebar-link-hover-color: hsl(var(--sky-600));
  --ifm-sidebar-active-link-color: hsl(var(--sky-600));
  --ifm-sidebar-item-spacing: 8px;

  /* Navbar Customizations */
  --ifm-navbar-background-color: hsl(var(--sky-700));
  --ifm-navbar-link-color: hsl(var(--neutral-50));
  --ifm-navbar-link-hover-color: hsl(var(--sky-300));

  /* Footer colors */
  --ifm-footer-background-color: hsl(var(--neutral-100));
  --ifm-footer-link-color: hsl(var(--sky-600));

  /*
   * These are variables to style FreeSewing SVG output (drafts, examples, and so on)
   */
  --pattern-bg: #fafafa;
  --pattern-fabric: #404040;
  --pattern-lining: #10b981;
  --pattern-interfacing: #a3a3a3;
  --pattern-canvas: #d97706;
  --pattern-various: #ef4444;
  --pattern-mark: #3b82f6;
  --pattern-contrast: #ec4899;
  --pattern-note: #8b5cf6;
  --pattern-color-0: #ef4444;
  --pattern-color-1: #22c55e;
  --pattern-color-2: #3b82f6;
  --pattern-color-3: #eab308;
  --pattern-color-4: #ec4899;
  --pattern-color-5: #8b5cf6;
  --pattern-color-6: #14b8a6;
  --pattern-color-7: #f59e0b;
  --pattern-color-8: #d946ef;
  --pattern-color-9: #06b6d4;
  --pattern-text-xs: 0.2rem;
  --pattern-text-sm: 0.3rem;
  --pattern-text: 0.4rem;
  --pattern-text-lg: 0.6rem;
  --pattern-text-xl: 0.8rem;
  --pattern-text-2xl: 1.5rem;
  --pattern-text-3xl: 2rem;
  --pattern-text-4xl: 3rem;
  --pattern-scale: 1;
  --pattern-stroke-xs: 0.2px;
  --pattern-stroke-sm: 0.4px;
  --pattern-stroke: 0.7px;
  --pattern-stroke-lg: 1.3px;
  --pattern-stroke-xl: 2px;
  --pattern-stroke-2xl: 4px;
  --pattern-stroke-3xl: 6px;
  --pattern-stroke-4xl: 8px;
  --pattern-stroke-5xl: 12px;
  --pattern-stroke-6xl: 16px;
  --pattern-stroke-7xl: 20px;
}

@media screen and (max-width: 996px) {
  :root {
    --ifm-menu-color: hsl(var(--neutral-50));
  }
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /* Text Colors */
  --ifm-font-color-base: hsl(var(--neutral-200));
  --ifm-font-color-light: hsl(var(--neutral-50));

  /* Background Colors */
  --ifm-background-color: hsl(var(--neutral-900));
  --ifm-background-color-secondary: hsl(var(--neutral-100));

  /* Borders and Outlines */
  --ifm-border-color: hsl(var(--neutral-200));

  /* Link colors */
  --ifm-link-color: hsl(var(--sky-400));
  --ifm-link-hover-color: hsl(var(--sky-500));

  /* Button Colors */
  --ifm-button-color: hsl(var(--neutral-600));

  /* Navbar Customizations */
  --ifm-navbar-background-color: hsl(var(--neutral-900));
  --ifm-navbar-link-color: hsl(var(--neutral-50));
  --ifm-navbar-link-hover-color: hsl(var(--sky-300));

  /* Footer colors */
  --ifm-footer-background-color: hsl(var(--neutral-900));
  --ifm-footer-link-color: hsl(var(--sky-300));
}

div.footer__copyright {
  font-size: 0.8rem;
}
div.footer__copyright a {
  font-weight: bold;
}

/* Don't let the SVG surpass the parent container */
svg.freesewing.pattern {
  max-width: 100%;
  max-height: 100%;
}

/* Reset & defaults */
svg.freesewing.pattern path,
svg.freesewing.pattern circle {
  fill: none;
  stroke: none;
  stroke-opacity: 1;
  stroke-width: calc(var(--pattern-stroke) * var(--pattern-scale));
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: currentColor;
}

svg.freesewing.pattern path.fabric,
svg.freesewing.pattern circle.fabric,
svg.freesewing.pattern .stroke-fabric {
  stroke: var(--pattern-fabric);
}

svg.freesewing.pattern path.lining,
svg.freesewing.pattern circle.lining,
svg.freesewing.pattern .stroke-lining {
  stroke: var(--pattern-lining);
}

svg.freesewing.pattern path.interfacing,
svg.freesewing.pattern circle.interfacing,
svg.freesewing.pattern .stroke-interfacing {
  stroke: var(--pattern-interfacing);
}

svg.freesewing.pattern path.canvas,
svg.freesewing.pattern circle.canvas,
svg.freesewing.pattern .stroke-canvas {
  stroke: var(--pattern-canvas);
}

svg.freesewing.pattern path.various,
svg.freesewing.pattern circle.various,
svg.freesewing.pattern .stroke-various {
  stroke: var(--pattern-various);
}

svg.freesewing.pattern path.mark,
svg.freesewing.pattern circle.mark,
svg.freesewing.pattern .stroke-mark {
  stroke: var(--pattern-mark);
}

svg.freesewing.pattern path.contrast,
svg.freesewing.pattern circle.contrast,
svg.freesewing.pattern .stroke-contrast {
  stroke: var(--pattern-contrast);
}

svg.freesewing.pattern path.note,
svg.freesewing.pattern circle.note,
svg.freesewing.pattern .stroke-note {
  stroke: var(--pattern-note);
}

svg.freesewing.pattern tspan.fabric,
svg.freesewing.pattern text.fabric,
svg.freesewing.pattern .fill-fabric {
  fill: var(--pattern-fabric);
}

svg.freesewing.pattern tspan.lining,
svg.freesewing.pattern text.lining,
svg.freesewing.pattern .fill-lining {
  fill: var(--pattern-lining);
}

svg.freesewing.pattern tspan.interfacing,
svg.freesewing.pattern text.interfacing,
svg.freesewing.pattern .fill-interfacing {
  fill: var(--pattern-interfacing);
}

svg.freesewing.pattern tspan.canvas,
svg.freesewing.pattern text.canvas,
svg.freesewing.pattern .fill-canvas {
  fill: var(--pattern-canvas);
}

svg.freesewing.pattern tspan.various,
svg.freesewing.pattern text.various,
svg.freesewing.pattern .fill-various {
  fill: var(--pattern-various);
}

svg.freesewing.pattern tspan.mark,
svg.freesewing.pattern text.mark,
svg.freesewing.pattern .fill-mark {
  fill: var(--pattern-mark);
}

svg.freesewing.pattern tspan.contrast,
svg.freesewing.pattern text.contrast,
svg.freesewing.pattern .fill-contrast {
  fill: var(--pattern-contrast);
}

svg.freesewing.pattern tspan.note,
svg.freesewing.pattern text.note,
svg.freesewing.pattern .fill-note {
  fill: var(--pattern-note);
}

svg.freesewing.pattern path.stroke-xs,
svg.freesewing.pattern circle.stroke-xs {
  stroke-width: calc(var(--pattern-stroke-xs) * var(--pattern-scale));
}

svg.freesewing.pattern path.stroke-sm,
svg.freesewing.pattern circle.stroke-sm {
  stroke-width: calc(var(--pattern-stroke-sm) * var(--pattern-scale));
}

svg.freesewing.pattern path.stroke-lg,
svg.freesewing.pattern circle.stroke-lg {
  stroke-width: calc(var(--pattern-stroke-lg) * var(--pattern-scale));
}

svg.freesewing.pattern path.stroke-xl,
svg.freesewing.pattern circle.stroke-xl {
  stroke-width: calc(var(--pattern-stroke-xl) * var(--pattern-scale));
}

svg.freesewing.pattern path.stroke-2xl,
svg.freesewing.pattern circle.stroke-2xl {
  stroke-width: calc(var(--pattern-stroke-2xl) * var(--pattern-scale));
}

svg.freesewing.pattern path.stroke-3xl,
svg.freesewing.pattern circle.stroke-3xl {
  stroke-width: calc(var(--pattern-stroke-3xl) * var(--pattern-scale));
}

svg.freesewing.pattern path.stroke-4xl,
svg.freesewing.pattern circle.stroke-4xl {
  stroke-width: calc(var(--pattern-stroke-4xl) * var(--pattern-scale));
}

svg.freesewing.pattern path.stroke-5xl,
svg.freesewing.pattern circle.stroke-5xl {
  stroke-width: calc(var(--pattern-stroke-5xl) * var(--pattern-scale));
}

svg.freesewing.pattern path.stroke-6xl,
svg.freesewing.pattern circle.stroke-6xl {
  stroke-width: calc(var(--pattern-stroke-6xl) * var(--pattern-scale));
}

svg.freesewing.pattern path.stroke-7xl,
svg.freesewing.pattern circle.stroke-7xl {
  stroke-width: calc(var(--pattern-stroke-7xl) * var(--pattern-scale));
}

svg.freesewing.pattern path.stroke-8xl,
svg.freesewing.pattern circle.stroke-8xl {
  stroke-width: calc(var(--pattern-stroke-8xl) * var(--pattern-scale));
}

svg.freesewing.pattern path.sa,
svg.freesewing.pattern circle.sa {
  stroke-dasharray: 1, 3;
}

svg.freesewing.pattern path.help,
svg.freesewing.pattern circle.help {
  stroke-dasharray: 15, 5, 2, 5;
}

svg.freesewing.pattern path.dotted,
svg.freesewing.pattern circle.dotted {
  stroke-dasharray: 0.5, 1;
}

svg.freesewing.pattern path.dashed,
svg.freesewing.pattern circle.dashed {
  stroke-dasharray: 2, 2;
}

svg.freesewing.pattern path.lashed,
svg.freesewing.pattern circle.lashed {
  stroke-dasharray: 8, 3;
}

svg.freesewing.pattern path.hidden,
svg.freesewing.pattern circle.hidden {
  stroke: none !important;
  fill: none !important;
}

svg.freesewing.pattern path.no-stroke,
svg.freesewing.pattern circle.no-stroke {
  stroke: none !important;
}

svg.freesewing.pattern path.no-fill,
svg.freesewing.pattern circle.no-fill {
  fill: none !important;
}

svg.freesewing.pattern text {
  font-size: calc(var(--pattern-text) * var(--pattern-scale));
  text-anchor: start;
  font-weight: normal;
  fill: currentColor;
  dominant-baseline: ideographic;
}

svg.freesewing.pattern .text-xs {
  font-size: calc(var(--pattern-text-xs) * var(--pattern-scale));
}

svg.freesewing.pattern .text-sm {
  font-size: calc(var(--pattern-text-sm) * var(--pattern-scale));
}

svg.freesewing.pattern .text-lg {
  font-size: calc(var(--pattern-text-lg) * var(--pattern-scale));
}

svg.freesewing.pattern .text-xl {
  font-size: calc(var(--pattern-text-xl) * var(--pattern-scale));
}

svg.freesewing.pattern .text-2xl {
  font-size: calc(var(--pattern-text-2xl) * var(--pattern-scale));
}

svg.freesewing.pattern .text-3xl {
  font-size: calc(var(--pattern-text-3xl) * var(--pattern-scale));
}

svg.freesewing.pattern .text-4xl {
  font-size: calc(var(--pattern-text-4xl) * var(--pattern-scale));
}

svg.freesewing.pattern .text-5xl {
  font-size: calc(var(--pattern-text-5xl) * var(--pattern-scale));
}

svg.freesewing.pattern .bold {
  font-weight: bold;
}

svg.freesewing.pattern .italic {
  font-style: italic;
}

svg.freesewing.pattern text.capitalize {
  text-transform: capitalize;
}

svg.freesewing.pattern .center {
  text-anchor: middle;
}

svg.freesewing.pattern .baseline-center {
  dominant-baseline: central;
}

svg.freesewing.pattern .right {
  text-anchor: end;
}

svg.freesewing.pattern .muted {
  opacity: 0.15;
}

/* Developer view */
g.develop.point {
  circle.center {
    stroke: var(--pattern-contrast);
    stroke-width: calc(var(--pattern-stroke) * var(--pattern-scale) / 2);
    fill: transparent;
  }
}
circle.develop.path.cp {
  stroke: none;
  fill: var(--pattern-lining);
  fill-opacity: 0.4;
}
path.develop.path.cp {
  stroke: var(--pattern-lining);
  stroke-width: calc(var(--pattern-stroke) * var(--pattern-scale) / 2);
}

/* Styling the shadow DOM is hard to do
 * This is for styling FreeSewing snippets
 * TODO: Update snippets to use inline styles with CSS vars
 */
g#notch circle.note,
g#bnotch path.note,
g#bnotch circle.note {
  stroke: var(--pattern-note);
  fill: none;
}
g#notch circle.fill-note,
g#bnotch circle.fill-note {
  fill: var(--pattern-note);
}
g#button circle.mark {
  stroke: var(--pattern-mark);
  fill: none;
}
g#button circle.fill-mark {
  fill: var(--pattern-mark);
}
g#button circle.no-stroke {
  stroke: none;
}
g#buttonhole path.mark,
g#buttonhole-start path.mark,
g#buttonhole-end path.mark {
  fill: none;
  stroke: var(--pattern-mark);
}

/* Same for paperless grid, also in shadow DOM */
rect.grid {
  stroke-width: 1;
  stroke: currentColor;
}
path.gridline {
  stroke-linecap: butt;
  stroke-width: 0.3 !important;
  stroke-dasharray: none;
}
path.gridline.sm {
  stroke-width: 0.15 !important;
}
path.gridline.xs {
  stroke-width: 0.1 !important;
}
path.gridline.metric.sm {
  stroke-dasharray: 3 1;
}
path.gridline.metric.xs {
  stroke-dasharray: 1 1;
}
path.gridline.imperial {
  stroke-dasharray: 5 5;
}
path.gridline.imperial.sm {
  stroke-dasharray: 2 2;
}

figure.develop.example div.develop {
  .path,
  .point {
    border-left: 0.25rem solid transparent;
    padding-left: 0.25rem;
    margin-bottom: 0.5rem;
  }
  .path {
    border-left: 3px dotted transparent;
    padding-left: 4px;
  }
  .path.c0,
  .point.c0 {
    border-color: var(--pattern-dev-0);
  }
  .path.c1,
  .point.c1 {
    border-color: var(--pattern-dev-1);
  }
  .path.c2,
  .point.c2 {
    border-color: var(--pattern-dev-2);
  }
  .path.c3,
  .point.c3 {
    border-color: var(--pattern-dev-3);
  }
  .path.c4,
  .point.c4 {
    border-color: var(--pattern-dev-4);
  }
  .path.c5,
  .point.c5 {
    border-color: var(--pattern-dev-5);
  }
  .path.c6,
  .point.c6 {
    border-color: var(--pattern-dev-6);
  }
  .path.c7,
  .point.c7 {
    border-color: var(--pattern-dev-7);
  }
}

.caption {
  text-align: center;
  font-style: italic;
  margin-top: -1rem;
}

.fs-code-block-highlight-line {
  background-color: #00ff0020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #00ff0080;
}

.fs-code-block-strikeout-line {
  background-color: #ff000020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #ff000080;
  text-decoration: line-through;
}
