import { name, version } from '../data.mjs'

export const plugin = {
  name,
  version,
  macros: {
    {{name}}: function (so, {points, paths, Path}) { //Example shorthand, you may wish to add other elements like utils

const defaults = {
//note these are common examples and can be removed
    scale: 1,
    rotation: 0,
  }
  so = { ...defaults, ...so }


    },
  },
}

// More specifically named exports
export const {{name}}Plugin = plugin
export const plugin{{capitalized_name}} = plugin
