// Dependencies
import { serverSideTranslations } from 'next-i18next/serverSideTranslations'
// Components
import { PageWrapper, ns as pageNs } from 'shared/components/wrappers/page.mjs'
import { ns as authNs } from 'shared/components/wrappers/auth/index.mjs'
import { SetPicker, ns as setsNs } from 'shared/components/sets/set-picker.mjs'

// Translation namespaces used on this page
const namespaces = [...new Set(['account', ...setsNs, ...authNs, ...pageNs])]

/*
 * Each page MUST be wrapped in the PageWrapper component.
 * You also MUST spread props.page into this wrapper component
 * when path and locale come from static props (as here)
 * or set them manually.
 */
const New{{ Design }}PatternPickSetPage = ({ page }) => (
  <PageWrapper {...page}>
    <SetPicker design="{{ design }}" />
  </PageWrapper>
)

export default New{{ Design }}PatternPickSetPage

export async function getStaticProps({ locale }) {
  return {
    props: {
      ...(await serverSideTranslations(locale, namespaces)),
      page: {
        locale,
        path: ['new', 'pattern', '{{ design }}'],
      },
    },
  }
}
