@include xs-screen {
  .theme-wrapper.light div.fs-sa aside,
  .theme-wrapper.dark div.fs-sa aside,
  .theme-wrapper.light div.draft-ui-menu,
  .theme-wrapper.dark div.draft-ui-menu,
  .theme-wrapper.light div.menu,
  .theme-wrapper.dark div.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0 0 1rem;
    max-width: 600px;
    z-index: -10;
    transition: opacity 0.5s ease 0s;
    opacity: 0;
    overflow: scroll;
    > ul,
    > div {
      transform: translate(0px, 20px);
      transition: transform 0.5s ease 0s;
    }
  }
}
.theme-wrapper.show-toc div.fs-sa aside {
  opacity: 1;
  z-index: 10;
  > ul {
    transform: translate(0px, 0px);
  }
}

.theme-wrapper.light div.draft-ui-menu,
.theme-wrapper.light div.menu {
  background: $oc-gray-1;
}
.theme-wrapper.dark div.draft-ui-menu,
.theme-wrapper.dark div.menu {
  background: $oc-gray-8;
}
.theme-wrapper.show-menu div.menu {
  opacity: 1;
  z-index: 10;
  > div {
    transform: translate(0px, 0px);
  }
}
