div.fs-sa {
  display: flex;

  section{
    width: 100%;
    padding: 1rem 1.5rem;
  }
  aside {
    padding: 0;
    max-width: 600px;
    min-width: 250px;
    width: 50%;
    background: $oc-gray-1;
    border-left: 1px solid $oc-gray-3;
  }
  aside div.sticky {
    position: sticky;
    top: 0;
    height: calc(100vh - 64px);
    overflow-y: auto;
  }
}

.theme-wrapper.dark {
  div.fs-sa {
    section {
      background: $oc-gray-9;
    }
    aside {
      background: $oc-gray-8;
      border-color: $oc-gray-7;
    }
  }
}
