svg.freesewing {
  /* Reset */
  path,
  circle,
  rect {
    fill: none;
    stroke: none;
  }

  /* Defaults */
  path,
  circle {
    stroke: #000;
    stroke-opacity: 1;
    stroke-width: 0.3;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  /* Stroke classes */
  .fabric {
    stroke-width: 0.6;
    stroke: #212121;
  }
  .lining {
    stroke-width: 0.6;
    stroke: #ff5b77;
  }
  .interfacing {
    stroke-width: 0.6;
    stroke: #64b5f6;
  }
  .canvas {
    stroke-width: 0.6;
    stroke: #ff9000;
  }
  .various {
    stroke-width: 0.6;
    stroke: #4caf50;
  }
  .note {
    stroke-width: 0.4;
    stroke: #dd60dd;
  }
  .mark {
    stroke-width: 0.4;
    stroke: blue;
  }
  .contrast {
    stroke-width: 0.8;
    stroke: red;
  }
  .stroke-xs {
    stroke-width: 0.1;
  }
  .stroke-sm {
    stroke-width: 0.2;
  }
  .stroke-lg {
    stroke-width: 0.6;
  }
  .stroke-xl {
    stroke-width: 1;
  }
  .stroke-xxl {
    stroke-width: 2;
  }

  .sa {
    stroke-dasharray: 0.4, 0.8;
  }
  .help {
    stroke-width: 0.2;
    stroke-dasharray: 15, 1.5, 1, 1.5;
  }
  .dotted {
    stroke-dasharray: 0.4, 0.8;
  }
  .dashed {
    stroke-dasharray: 1, 1.5;
  }
  .lashed {
    stroke-dasharray: 6, 6;
  }
  .hidden {
    stroke: none;
    fill: none;
  }

  /* Fill classes */
  .fill-fabric {
    fill: #212121;
  }
  .fill-lining {
    fill: #ff5b77;
  }
  .fill-interfacing {
    fill: #64b5f6;
  }
  .fill-canvas {
    fill: #ff9000;
  }
  .fill-various {
    fill: #4caf50;
  }
  .fill-note {
    fill: #dd69dd;
  }
  .fill-mark {
    fill: blue;
  }
  .fill-contrast {
    fill: red;
  }

  /* Text */
  text {
    font-size: 5px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
      Arial, sans-serif;
    fill: #000;
    text-anchor: start;
    font-weight: 200;
    dominant-baseline: ideographic;
  }
  .text-xs {
    font-size: 3px;
  }
  .text-sm {
    font-size: 4px;
  }
  .text-lg {
    font-size: 7px;
  }
  .text-xl {
    font-size: 9px;
  }
  .text-xxl {
    font-size: 12px;
  }

  .center {
    text-anchor: middle;
  }
  .right {
    text-anchor: end;
  }

  /* Bartack */
  path.bartack {
    stroke-width: 2;
    stroke: #fd7e14;
    stroke-linecap: butt;
  }
}
