@mixin xs-screen {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin sm-screen {
  @media (min-width: 600px) and (max-width: 959px) {
    @content;
  }
}
@mixin lg-screen {
  @media (min-width: 960px) {
    @content;
  }
}

@mixin body-font {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 300;
}
@mixin title-font {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}
@mixin button-font {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}
@mixin fixed-font {
  font-family: 'Roboto mono', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
}
@mixin scribble-font {
  font-family: 'Permanent Marker', cursive;
}
@mixin title-color-light {
  color: $oc-gray-7;
}
@mixin title-color-dark {
  color: $oc-gray-4;
}
