@include xs-screen {
  .not-xs { display: none!important; }
  .only-xs { display: inherit; }
}
@include sm-screen {
  .not-xs { display: inherit; }
  .only-xs { display: none!important; }
}
@include lg-screen {
  .not-xs { display: inherit; }
  .only-xs { display: none!important; }
}

