$fc-blue: '#74c0fc';
$fc-text-light: $oc-gray-9;
$fc-text-dark: $oc-gray-0;
$fc-bg-light: $oc-gray-0;
$fc-bg-dark: darken($oc-gray-9, 3);
$fc-altbg-light: $oc-gray-1;
$fc-altbg-dark: $oc-gray-8;
$fc-notice-light: $oc-yellow-7;
$fc-notice-dark: $oc-lime-3;
$fc-hoverbg-light: $oc-gray-1;
$fc-hoverbg-dark: $oc-gray-8;
$fc-accentbg-light: $oc-teal-5;
$fc-accentbg-dark: $oc-teal-8;
$fc-link-light: $oc-violet-8;
$fc-link-dark: $oc-violet-2;

$fc-info-light: $oc-blue-6;
$fc-success-light: $oc-green-7;
$fc-danger-light: $oc-red-6;
$fc-warning-light: $oc-yellow-6;
$fc-accent-light: $oc-grape-6;

$fc-draft-fabric-light: $oc-gray-9;
$fc-draft-lining-light: $oc-lime-7;
$fc-draft-interfacing-light: $oc-red-7;
$fc-draft-canvas-light: $oc-yellow-7;
$fc-draft-various-light: $oc-grape-7;
$fc-draft-mark-light: $oc-blue-4;
$fc-draft-contrast-light: $oc-orange-7;
$fc-draft-note-light: $oc-pink-7;

$fc-draft-fabric-dark: $oc-gray-1;
$fc-draft-lining-dark: $oc-lime-4;
$fc-draft-interfacing-dark: $oc-red-4;
$fc-draft-canvas-dark: $oc-yellow-4;
$fc-draft-various-dark: $oc-grape-4;
$fc-draft-mark-dark: $oc-blue-4;
$fc-draft-contrast-dark: $oc-orange-4;
$fc-draft-note-dark: $oc-pink-4;
