$fc-text-light: $oc-gray-9;
$fc-text-dark: $oc-gray-0;
$fc-bg-light: $oc-gray-0;
$fc-bg-dark: $oc-gray-9;
$fc-notice-light: $oc-yellow-7;
$fc-notice-dark: $oc-lime-3;
$fc-hoverbg-light: $oc-gray-1;
$fc-hoverbg-dark: $oc-gray-8;
$fc-accentbg-light: $oc-teal-5;
$fc-accentbg-dark: $oc-teal-8;
$fc-link-light: $oc-blue-6;
$fc-link-dark: $oc-blue-3;

$fc-draft-lining-light: $oc-teal-6;
$fc-draft-fabric-light: $oc-gray-9;
$fc-draft-canvas-light: $oc-yellow-7;
$fc-draft-interfacing-light: $oc-gray-6;
$fc-draft-various-light: $oc-pink-5;
$fc-draft-mark-light: $oc-indigo-6;
$fc-draft-contrast-light: $oc-orange-7;
$fc-draft-note-light: $oc-blue-7;

$fc-draft-lining-dark: $oc-teal-6;
$fc-draft-fabric-dark: $oc-gray-9;
$fc-draft-canvas-dark: $oc-yellow-7;
$fc-draft-interfacing-dark: $oc-gray-6;
$fc-draft-various-dark: $oc-pink-5;
$fc-draft-mark-dark: $oc-indigo-6;
$fc-draft-contrast-dark: $oc-orange-7;
$fc-draft-note-dark: $oc-blue-7;

