$fs-blue: '#74c0fc';
$fs-text-light: $oc-gray-9;
$fs-text-dark: $oc-gray-0;
$fs-bg-light: $oc-gray-0;
$fs-bg-dark: darken($oc-gray-9, 3);
$fs-altbg-light: $oc-gray-1;
$fs-altbg-dark: $oc-gray-8;
$fs-notice-light: $oc-yellow-7;
$fs-notice-dark: $oc-lime-3;
$fs-hoverbg-light: $oc-gray-1;
$fs-hoverbg-dark: $oc-gray-8;
$fs-accentbg-light: $oc-teal-5;
$fs-accentbg-dark: $oc-teal-8;
$fs-link-light: $oc-violet-8;
$fs-link-dark: $oc-violet-2;

$fs-info-light: $oc-blue-6;
$fs-success-light: $oc-green-7;
$fs-danger-light: $oc-red-6;
$fs-warning-light: $oc-yellow-6;
$fs-accent-light: $oc-grape-6;

$fs-pattern-fabric-light: $oc-gray-9;
$fs-pattern-lining-light: $oc-lime-7;
$fs-pattern-interfacing-light: $oc-red-7;
$fs-pattern-canvas-light: $oc-yellow-7;
$fs-pattern-various-light: $oc-grape-7;
$fs-pattern-mark-light: $oc-blue-4;
$fs-pattern-contrast-light: $oc-orange-7;
$fs-pattern-note-light: $oc-pink-7;

$fs-pattern-fabric-dark: $oc-gray-1;
$fs-pattern-lining-dark: $oc-lime-4;
$fs-pattern-interfacing-dark: $oc-red-4;
$fs-pattern-canvas-dark: $oc-yellow-4;
$fs-pattern-various-dark: $oc-grape-4;
$fs-pattern-mark-dark: $oc-blue-4;
$fs-pattern-contrast-dark: $oc-orange-4;
$fs-pattern-note-dark: $oc-pink-4;
