_types:
  design:
    peer:
      '@freesewing/core': &freesewing '{{version}}'
    dev:
      'mocha': &mocha '10.2.0'
      'chai': &chai '4.3.10'
      '@freesewing/models': *freesewing
      '@freesewing/plugin-timing': *freesewing
  plugin:
    peer:
      '@freesewing/core': *freesewing
    dev:
      'mocha': *mocha
      'chai': *chai
aaron:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
bee:
  peer:
    '@freesewing/bella': *freesewing
bent:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
breanna:
  peer:
    '@freesewing/brian': *freesewing
brian:
  peer:
    '@freesewing/plugin-bust': *freesewing
carlita:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/bent': *freesewing
    '@freesewing/carlton': *freesewing
    '@freesewing/plugin-bust': *freesewing
carlton:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/bent': *freesewing
    '@freesewing/plugin-bust': *freesewing
charlie:
  peer:
    '@freesewing/titan': *freesewing
    '@freesewing/snapseries': *freesewing
core:
  _:
    '@freesewing/core-plugins': *freesewing
    'bezier-js': '6.1.4'
    'bin-pack-with-constraints': 'https://git@github.com/freesewing/bin-pack-with-constraints'
    'hooks': '0.3.2'
    'lodash.get': &_get '4.4.2'
    'lodash.set': &_set '4.3.2'
    'lodash.unset': &_unset '4.5.2'
    'lodash.clonedeep': '^4.5.0'
  dev:
    'eslint': &eslint '8.51.0'
    'nyc': '15.1.0'
    'mocha': *mocha
    'chai': *chai
    'chai-string': '1.5.0'
    'sinon': &sinon '^16.1.0'
diana:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
examples:
  peer:
    '@freesewing/plugin-gore': *freesewing
holmes:
  _:
    '@freesewing/plugin-gore': *freesewing
  peer:
    '@freesewing/plugin-bust': *freesewing
huey:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
hugo:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
jaeger:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/bent': *freesewing
    '@freesewing/plugin-bust': *freesewing
new-design:
  _:
    'axios': &axios '1.5.1'
    'chalk': '5.3.0'
    'execa': '8.0.1'
    'mustache': &mustache '4.2.0'
    'ora': &ora '7.0.1'
    'prompts': '2.4.2'
    'recursive-readdir': '2.2.3'
noble:
  peer:
    '@freesewing/bella': *freesewing
paco:
  peer:
    '@freesewing/titan': *freesewing
    '@freesewing/snapseries': *freesewing
core-plugins:
  dev:
    '@freesewing/plugin-annotations': *freesewing
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/plugin-round': *freesewing
    '@freesewing/plugin-sprinkle': *freesewing
    '@freesewing/plugin-bin-pack': *freesewing
plugintest:
  peer:
    '@freesewing/plugin-annotations': *freesewing
    '@freesewing/plugin-bust': *freesewing
    '@freesewing/plugin-flip': *freesewing
    '@freesewing/plugin-gore': *freesewing
    '@freesewing/plugin-i18n': *freesewing
    '@freesewing/plugin-measurements': *freesewing
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/plugin-round': *freesewing
    '@freesewing/plugin-sprinkle': *freesewing
    '@freesewing/plugin-svgattr': *freesewing
    '@freesewing/plugin-theme': *freesewing
react-components:
  _:
    html-react-parser: "^4.2.2"
  peer:
    react: '>=14'
rehype-jargon:
  _:
    'unist-util-visit': &unist-util-visit '5.0.0'
    'hast-util-from-html': '2.0.1'
rehype-highlight-lines:
  _:
    'unist-util-remove': '4.0.0'
sandy:
  peer:
    '@freesewing/snapseries': *freesewing
shin:
  peer:
    '@freesewing/snapseries': *freesewing
simon:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
    '@freesewing/plugin-flip': *freesewing
simone:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/simon': *freesewing
    '@freesewing/plugin-flip': *freesewing
    '@freesewing/plugin-bust': *freesewing
sven:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
tamiko:
  peer:
    '@freesewing/plugin-bust': *freesewing
teagan:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
titan:
  peer:
    '@freesewing/snapseries': *freesewing
trayvon:
  peer:
    '@freesewing/snapseries': *freesewing
wahid:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
yuri:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing

# Sites go here

backend:
  _:
    '@aws-sdk/client-sesv2': '3.428.0'
    '@prisma/client': &prisma '5.4.2'
    'bcryptjs': '2.4.3'
    'cors': '2.8.5'
    'dotenv': '16.3.1'
    'express': '4.18.2'
    'js-yaml': &jsyaml '4.1.0'
    'lodash.get': *_get
    'mustache': *mustache
    'otplib': '12.0.1'
    'passport': '0.6.0'
    'passport-http': '0.3.0'
    'passport-jwt': '4.0.1'
    'pino': '8.15.0'
    'qrcode': '1.5.3'
    'swagger-ui-dist': '5.9.0'
    'swagger-ui-express': '5.0.0'
  dev:
    'chai': *chai
    'chai-http': '4.4.0'
    'esbuild': '0.19.4'
    'mocha': *mocha
    'mocha-steps': '1.3.0'
    'nodemon': '3.0.1'
    'prisma': *prisma

dev:
  _:
    '@mdx-js/mdx': &mdx '^2.3.0'
    '@mdx-js/react': *mdx
    '@mdx-js/runtime': &mdxRuntime '2.0.0-next.9'
    '@next/bundle-analyzer': &next '13.5.4'
    '@tailwindcss/typography': &tailwindTypography '0.5.9'
    'algoliasearch': '4.20.0'
    'daisyui': &daisyui '3.9.2'
    'lodash.get': *_get
    'lodash.orderby': &_orderby '4.6.0'
    'lodash.set': *_set
    'next': *next
    'react': &react '18.2.0'
    'react-copy-to-clipboard': &reactCopyToClipboard '5.1.0'
    'react-dom': *react
    'react-hotkeys-hook': &reactHotkeysHook '4.4.1'
    'react-instantsearch-dom': &reactInstantsearchDom '6.40.4'
    'react-instantsearch-hooks-web': '6.47.3'
    'react-swipeable': &reactSwipeable '7.0.1'
    'react-timeago': &reactTimeago '7.2.0'
    'rehype-autolink-headings': &rehypeAutolinkHeadings '7.0.0'
    'rehype-highlight': &rehypeHighlight '7.0.0'
    'rehype-sanitize': &rehypeSanitize '6.0.0'
    'rehype-slug': &rehypeSlug '6.0.0'
    'rehype-stringify': &rehypeStringify '10.0.0'
    # see: https://github.com/npm/cli/issues/2610#issuecomment-1295371753
    'remark-copy-linked-files': &remarkCopyLinkedFiles 'git+https://git@github.com/freesewing/remark-copy-linked-files'
    'remark-gfm': &remarkGfm '3.0.1'
  dev: &nextSiteDevDependencies
    'autoprefixer': &autoprefixer '10.4.16'
    'js-yaml': &jsYaml '4.1.0'
    'postcss': &postcss '8.4.31'
    'remark-extract-frontmatter': '3.2.0'
    'remark-mdx-frontmatter': &mdxfrontmatter '3.0.0'
    'tailwindcss': &tailwindcss '3.3.3'
    'yaml-loader': '0.8.0'

lab:
  _:
    '@mdx-js/mdx': *mdx
    '@mdx-js/react': *mdx
    '@mdx-js/runtime': *mdxRuntime
    '@tailwindcss/typography': *tailwindTypography
    'algoliasearch': &algoliasearch '4.20.0'
    'd3-dispatch': &d3dispatch '3.0.1'
    'd3-drag': &d3drag '3.0.0'
    'd3-selection': &d3selection '3.0.0'
    'daisyui': *daisyui
    'i18next': &i18next '23.5.1'
    'lodash.get': *_get
    'lodash.orderby': *_orderby
    'lodash.set': *_set
    'next': *next
    'next-i18next': &nextI18next '14.0.0'
    'ora': *ora
    'react': *react
    'react-copy-to-clipboard': *reactCopyToClipboard
    'react-hotkeys-hook': *reactHotkeysHook
    'react-i18next': &reactI18next '13.2.2'
    'react-instantsearch-dom': *reactInstantsearchDom
    'react-swipeable': *reactSwipeable
    'react-timeago': *reactTimeago
    'rehype-autolink-headings': *rehypeAutolinkHeadings
    'rehype-highlight': *rehypeHighlight
    'rehype-sanitize': *rehypeSanitize
    'rehype-slug': *rehypeSlug
    'rehype-stringify': *rehypeStringify
    'remark-copy-linked-files': *remarkCopyLinkedFiles
    'remark-gfm': *remarkGfm
    'remark-mdx-frontmatter': *mdxfrontmatter
  dev:
    *nextSiteDevDependencies

org:
  _:
    '@bugsnag/js': &bugsnag 7.20.2
    '@bugsnag/plugin-react': 7.19.0
    '@mdx-js/mdx': *mdx
    '@mdx-js/react': *mdx
    '@mdx-js/runtime': *mdxRuntime
    '@tailwindcss/typography': *tailwindTypography
    'algoliasearch': *algoliasearch
    'react-copy-to-clipboard': *reactCopyToClipboard
    'daisyui': *daisyui
    'echarts': 5.4.2
    'echarts-for-react': 3.0.2
    'jotai': &jotai '2.4.3'
    'jotai-location': &jotai-location '0.5.1'
    'lodash.get': *_get
    'lodash.orderby': *_orderby
    'lodash.set': *_set
    'luxon': '3.4.3'
    'next': *next
    'ora': *ora
    'react-dropzone': &dropzone '14.2.3'
    'react-hotkeys-hook': *reactHotkeysHook
    'react-instantsearch-dom': *reactInstantsearchDom
    'react-swipeable': *reactSwipeable
    'react-timeago': *reactTimeago
    'rehype-autolink-headings': *rehypeAutolinkHeadings
    'rehype-highlight': *rehypeHighlight
    'rehype-sanitize': *rehypeSanitize
    'rehype-slug': *rehypeSlug
    'rehype-stringify': *rehypeStringify
    'remark-copy-linked-files': *remarkCopyLinkedFiles
    'remark-gfm': *remarkGfm
    'remark-mdx-frontmatter': *mdxfrontmatter
    'use-persisted-state': &use-persisted-state 0.3.3
    'yaml-loader': 0.8.0
  dev: *nextSiteDevDependencies

shared:
  _:
    '@next/mdx': '13.5.4'
    '@resvg/resvg-js': '2.4.1'
    '@tailwindcss/typography': *tailwindTypography
    'Buffer': '0.0.0'
    'd3-dispatch': '3.0.1'
    'd3-drag': '3.0.0'
    'd3-selection': '3.0.0'
    'daisyui': *daisyui
    'feed': '4.2.2'
    'file-saver': &filesaver '2.0.5'
    'front-matter': '4.0.2'
    'highlight.js': '11.9.0'
    'github-slugger': '2.0.0'
    'jotai': *jotai
    'jotai-location': *jotai-location
    'lodash.clonedeep': '4.5.0'
    'lodash.debounce': &_debounce '^4.0.8'
    'lodash.orderby': *_orderby
    'lodash.unset': *_unset
    'lodash.get': *_get
    'mdast-util-toc': '7.0.0'
    'mermaid': '10.4.0'
    'ora': *ora
    'pdfkit': &pdfkit '0.13.0'
    'postcss-for': &postcssfor '2.1.1'
    'react': *react
    'react-dom': *react
    'react-timeago': *reactTimeago
    'react-zoom-pan-pinch': &zoompanpinch '3.1.0'
    'rehype-autolink-headings': *rehypeAutolinkHeadings
    'rehype-highlight': *rehypeHighlight
    'remark-frontmatter': &remarkfrontmatter '4.0.1'
    'remark-mdx-frontmatter': *mdxfrontmatter
    "remark-smartypants": &smartypants "2.0.0"
    'sharp': '0.32.6'
    "slugify": &slugify "^1.6.6"
    # see: https://github.com/npm/cli/issues/2610#issuecomment-1295371753
    'svg-to-pdfkit': &svgtopdfkit 'https://git@github.com/freesewing/svg-to-pdfkit'
    'tlds': &rlds '1.242.0'
    'to-vfile': '8.0.0'
    'unist-util-visit': *unist-util-visit
    'use-persisted-state': *use-persisted-state
    'web-worker': &webworker '1.2.0'
  dev:
    'recursive-readdir': '^2.2.3'
    'html-to-text': '^9.0.5'

sde:
  _:
    "@freesewing/core": *freesewing
    "@freesewing/core-plugins": *freesewing
    "@freesewing/brian": *freesewing
    "@freesewing/bent": *freesewing
    "@freesewing/titan": *freesewing
    "@freesewing/bella": *freesewing
    "@freesewing/breanna": *freesewing
    "@freesewing/plugin-bust": *freesewing
    "@freesewing/plugin-theme": *freesewing
    "@freesewing/plugin-i18n": *freesewing
    "@freesewing/snapseries": *freesewing
    "@freesewing/react-components": *freesewing
    '@mdx-js/mdx': *mdx
    '@mdx-js/react': *mdx
    '@mdx-js/runtime': *mdxRuntime
    '@tailwindcss/typography': *tailwindTypography
    'autoprefixer': *autoprefixer
    'axios': &axios
    'd3-dispatch': *d3dispatch
    'd3-drag': *d3drag
    'd3-selection': *d3selection
    'daisyui': *daisyui
    'file-saver': *filesaver
    'i18next': *i18next
    'jotai': *jotai
    'jotai-location': *jotai-location
    'js-yaml': *jsyaml
    'lodash.debounce': *_debounce
    'lodash.get': *_get
    'lodash.orderby': *_orderby
    'lodash.set': *_set
    'mustache': *mustache
    "next": *next
    'next-i18next': *nextI18next
    'pdfkit': *pdfkit
    'postcss-for': *postcssfor
    "react": *react
    "react-dom": *react
    'react-copy-to-clipboard': *reactCopyToClipboard
    'react-hotkeys-hook': *reactHotkeysHook
    "react-i18next": *reactI18next
    'react-dropzone': *dropzone
    'react-swipeable': *reactSwipeable
    'react-timeago': *reactTimeago
    'react-zoom-pan-pinch': *zoompanpinch
    'remark-gfm': *remarkGfm
    'remark-frontmatter': *remarkfrontmatter
    'remark-mdx-frontmatter': *mdxfrontmatter
    'remark-smartypants': *smartypants
    "slugify": *slugify
    'svg-to-pdfkit': *svgtopdfkit
    'tlds': *rlds
    'use-persisted-state': *use-persisted-state
    'web-worker': *webworker

