_types:
  pattern:
    peer:
      '@freesewing/core': &freesewing '^{{version}}'
      '@freesewing/plugin-bundle': *freesewing
    dev:
      'react': &react '^17.0.2'
      'react-dom': &react-dom '^17.0.2'
      '@babel/plugin-proposal-class-properties': '^7.13.0'
      '@freesewing/components': *freesewing
      '@freesewing/css-theme': *freesewing
      '@freesewing/i18n': *freesewing
      '@freesewing/mui-theme': *freesewing
      '@freesewing/plugin-bust': *freesewing
      '@freesewing/plugin-buttons': *freesewing
      '@freesewing/plugin-flip': *freesewing
      '@freesewing/utils': *freesewing
      'react-scripts': '^5.0.0'
      'webpack': '^5.67.0'
      'rollup': '^2.66.1'
      '@rollup/plugin-babel': '^5.3.0'
      '@rollup/plugin-commonjs': '^21.0.1'
      '@rollup/plugin-json': '^4.1.0'
      '@rollup/plugin-node-resolve': '^13.1.3'
      'rollup-plugin-peer-deps-external': '^2.2.4'
      '@material-ui/core': &matui-core '^4.12.3'
      '@material-ui/icons': &matui-icons '^4.11.2'
      '@material-ui/lab': &matui-lab '^v4.0.0-alpha.60'
      'axios': &axios '^0.25.0'
      'react-intl': &react-intl '^5.24.4'
      'prop-types': '^15.8.1'
      'mocha': &mocha '^9.1.1'
      'chai': &chai '^4.2.0'
      '@babel/register': &babelregister '^7.10.5'
  plugin:
    peer:
      '@freesewing/core': *freesewing
    dev:
      'mocha': *mocha
      'chai': *chai
      '@babel/core': '^7.11.0'
      '@babel/register': *babelregister
      'rollup': '^2.50.6'
      '@rollup/plugin-babel': '^5.3.0'
      '@rollup/plugin-commonjs': '^21.0.1'
      '@rollup/plugin-json': '^4.1.0'
      '@rollup/plugin-node-resolve': '^13.0.0'
      'rollup-plugin-peer-deps-external': '^2.2.4'
aaron:
  peer:
    '@freesewing/brian': *freesewing
bee:
  peer:
    '@freesewing/bella': *freesewing
bent:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-mirror': *freesewing
breanna:
  peer:
    '@freesewing/brian': *freesewing
brian:
  peer:
    '@freesewing/plugin-mirror': *freesewing
carlita:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/bent': *freesewing
    '@freesewing/carlton': *freesewing
    '@freesewing/plugin-bust': *freesewing
    '@freesewing/plugin-buttons': *freesewing
    '@freesewing/plugin-mirror': *freesewing
carlton:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/bent': *freesewing
    '@freesewing/plugin-buttons': *freesewing
    '@freesewing/plugin-mirror': *freesewing
charlie:
  peer:
    '@freesewing/plugin-bartack': *freesewing
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/snapseries': *freesewing
    '@freesewing/titan': *freesewing
css-theme:
  _:
    'open-color': '^1.7.0'
    '@fontsource/permanent-marker': &permanent-marker 'latest'
    '@fontsource/roboto-mono': &roboto-mono 'latest'
    '@fontsource/ubuntu': &ubuntu 'latest'
components:
  peer:
    'axios': *axios
    'react': *react
    '@freesewing/pattern-info': *freesewing
    '@freesewing/mui-theme': *freesewing
    '@freesewing/css-theme': *freesewing
    '@freesewing/plugin-theme': *freesewing
    '@freesewing/core': *freesewing
    '@freesewing/models': *freesewing
    '@freesewing/examples': *freesewing
    '@freesewing/rendertest': *freesewing
    '@freesewing/tutorial': *freesewing
    '@fontsource/permanent-marker': *permanent-marker
    '@fontsource/roboto-mono': *roboto-mono
    '@fontsource/ubuntu': *ubuntu
    '@freesewing/i18n': *freesewing
    '@freesewing/utils': *freesewing
    'react-intl': *react-intl
    '@material-ui/core': *matui-core
    '@material-ui/icons': *matui-icons
    '@material-ui/lab': *matui-lab
    'prismjs': '^1.23.0'
    'react-markdown': '^6.0.2'
    'file-saver': '^2.0.5'
    'yaml': &yaml '^1.10.2'
core:
  _:
    'bezier-js': '^4.1.1'
    'bin-pack': '^1.0.2'
    'hooks': '^0.3.2'
  dev:
    'nyc': '^15.1.0'
create-freesewing-pattern:
  _:
    'chalk': '^4.1.1'
    'commander': '^8.1.0'
    'conf': '^10.0.1'
    'cp-file': '^9.0.0'
    'execa': '^5.1.0'
    'git-config-path': '^2.0.0'
    'github-username': '^6.0.0'
    'globby': '^11.0.3'
    'handlebars': '^4.7.7'
    'inquirer': '^8.0.0'
    'make-dir': '^3.1.0'
    'normalize-path': '^3.0.0'
    'ora': '^5.4.1'
    'p-each-series': '^2.2.0'
    'parse-git-config': '^3.0.0'
    'validate-npm-package-name': '^3.0.0'
    'which': '^2.0.2'
    '@freesewing/i18n': *freesewing
    '@freesewing/pattern-info': *freesewing
diana:
  peer:
    '@freesewing/brian': *freesewing
examples:
  peer:
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/plugin-gore': *freesewing
gatsby-remark-jargon:
  _:
    'remark-jargon': *freesewing
holmes:
  _:
    '@freesewing/plugin-gore': *freesewing
  peer:
    '@freesewing/plugin-bust': *freesewing
huey:
  peer:
    '@freesewing/brian': *freesewing
hugo:
  peer:
    '@freesewing/brian': *freesewing
i18n:
  dev:
    'yaml': *yaml
  peer:
    '@freesewing/pattern-info': *freesewing
jaeger:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/bent': *freesewing
    '@freesewing/plugin-buttons': *freesewing
    '@freesewing/plugin-mirror': *freesewing
models:
  peer:
    '@freesewing/utils': *freesewing
mui-theme:
  peer:
    '@material-ui/core': *matui-core
    'react': *react
    'react-dom': *react-dom
legend:
  peer:
    '@freesewing/plugin-buttons': *freesewing
paco:
  peer:
    '@freesewing/snapseries': *freesewing
    '@freesewing/titan': *freesewing
plugin-bundle:
  dev:
    '@freesewing/plugin-banner': *freesewing
    '@freesewing/plugin-buttons': *freesewing
    '@freesewing/plugin-cutonfold': *freesewing
    '@freesewing/plugin-dimension': *freesewing
    '@freesewing/plugin-grainline': *freesewing
    '@freesewing/plugin-logo': *freesewing
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/plugin-title': *freesewing
    '@freesewing/plugin-scalebox': *freesewing
    '@freesewing/plugin-round': *freesewing
    '@freesewing/plugin-sprinkle': *freesewing
plugintest:
  peer:
    '@freesewing/plugin-banner': *freesewing
    '@freesewing/plugin-bartack': *freesewing
    '@freesewing/plugin-bust': *freesewing
    '@freesewing/plugin-buttons': *freesewing
    '@freesewing/plugin-cutonfold': *freesewing
    '@freesewing/plugin-dimension': *freesewing
    '@freesewing/plugin-flip': *freesewing
    '@freesewing/plugin-gore': *freesewing
    '@freesewing/plugin-grainline': *freesewing
    '@freesewing/plugin-i18n': *freesewing
    '@freesewing/plugin-logo': *freesewing
    '@freesewing/plugin-measurements': *freesewing
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/plugin-notches': *freesewing
    '@freesewing/plugin-round': *freesewing
    '@freesewing/plugin-scalebox': *freesewing
    '@freesewing/plugin-sprinkle': *freesewing
    '@freesewing/plugin-svgattr': *freesewing
    '@freesewing/plugin-theme': *freesewing
    '@freesewing/plugin-title': *freesewing
    '@freesewing/plugin-validate': *freesewing

react-pattern:
  peer:
    '@freesewing/i18n': *freesewing
remark-jargon:
  _:
    'unist-util-visit': '^4.0.0'
  peer:
    'remark': '^13.0.0'
    'remark-html': '^13.0.1'
sandy:
  peer:
    '@freesewing/snapseries': *freesewing
shin:
  peer:
    '@freesewing/snapseries': *freesewing
simon:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-buttons': *freesewing
    '@freesewing/plugin-flip': *freesewing
simone:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/simon': *freesewing
    '@freesewing/plugin-buttons': *freesewing
    '@freesewing/plugin-flip': *freesewing
    '@freesewing/plugin-bust': *freesewing
strapi:
  _:
    strapi: &strapi '3.6.8'
    strapi-admin: *strapi
    strapi-utils: *strapi
    strapi-plugin-content-type-builder: *strapi
    strapi-plugin-content-manager: *strapi
    strapi-plugin-users-permissions: *strapi
    strapi-plugin-email: *strapi
    strapi-plugin-upload: *strapi
    strapi-plugin-i18n: *strapi
    strapi-connector-mongoose: *strapi
sven:
  peer:
    '@freesewing/brian': *freesewing
teagan:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
titan:
  peer:
    '@freesewing/snapseries': *freesewing
trayvon:
  peer:
    '@freesewing/snapseries': *freesewing
utils:
  peer:
    'tlds': '^1.221.1'
    'axios': *axios
wahid:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-buttons': *freesewing
    '@freesewing/plugin-round': *freesewing
yuri:
  peer:
    '@freesewing/brian': *freesewing

