_types:
  design:
    peer:
      '@freesewing/core': &freesewing '^{{version}}'
      '@freesewing/plugin-bundle': *freesewing
      '@freesewing/config-helpers': *freesewing
    dev:
      'mocha': &mocha '^10.0.0'
      'chai': &chai '^4.2.0'
  plugin:
    peer:
      '@freesewing/core': *freesewing
    dev:
      'mocha': *mocha
      'chai': *chai
aaron:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
bee:
  peer:
    '@freesewing/bella': *freesewing
bent:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/plugin-bust': *freesewing
breanna:
  peer:
    '@freesewing/brian': *freesewing
brian:
  peer:
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/plugin-bust': *freesewing
carlita:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/bent': *freesewing
    '@freesewing/carlton': *freesewing
    '@freesewing/plugin-bust': *freesewing
    '@freesewing/plugin-mirror': *freesewing
carlton:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/bent': *freesewing
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/plugin-bust': *freesewing
charlie:
  peer:
    '@freesewing/plugin-bartack': *freesewing
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/titan': *freesewing
core:
  _:
    'bezier-js': '^4.1.1'
    'bin-pack': '^1.0.2'
    'hooks': '^0.3.2'
    'lodash.get' : '^4.4.2'
    'lodash.set': '^4.3.2'
    'lodash.unset': '^4.5.2'
  dev:
    'nyc': '^15.1.0'
diana:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
examples:
  peer:
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/plugin-gore': *freesewing
holmes:
  _:
    '@freesewing/plugin-gore': *freesewing
  peer:
    '@freesewing/plugin-bust': *freesewing
huey:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
hugo:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
i18n:
  dev:
    'js-yaml': '^4.1.0'
  peer:
    '@freesewing/pattern-info': *freesewing
jaeger:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/bent': *freesewing
    '@freesewing/plugin-bust': *freesewing
    '@freesewing/plugin-mirror': *freesewing
models:
  peer:
    '@freesewing/utils': *freesewing
new-design:
  _:
    "axios": "^0.27.2"
    "chalk": "^5.0.1"
    "execa": "^6.1.0"
    "mustache": "^4.2.0"
    "ora": "^6.1.0"
    "prompts": "^2.4.2"
    "recursive-readdir": "^2.2.2"
noble:
  peer:
    '@freesewing/bella': *freesewing
legend:
  peer:
    '@freesewing/plugin-buttons': *freesewing
paco:
  peer:
    '@freesewing/titan': *freesewing
plugin-bundle:
  dev:
    '@freesewing/plugin-banner': *freesewing
    '@freesewing/plugin-buttons': *freesewing
    '@freesewing/plugin-cutonfold': *freesewing
    '@freesewing/plugin-dimension': *freesewing
    '@freesewing/plugin-grainline': *freesewing
    '@freesewing/plugin-logo': *freesewing
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/plugin-title': *freesewing
    '@freesewing/plugin-scalebox': *freesewing
    '@freesewing/plugin-round': *freesewing
    '@freesewing/plugin-sprinkle': *freesewing
plugintest:
  peer:
    '@freesewing/plugin-banner': *freesewing
    '@freesewing/plugin-bartack': *freesewing
    '@freesewing/plugin-bust': *freesewing
    '@freesewing/plugin-buttons': *freesewing
    '@freesewing/plugin-cutonfold': *freesewing
    '@freesewing/plugin-dimension': *freesewing
    '@freesewing/plugin-flip': *freesewing
    '@freesewing/plugin-gore': *freesewing
    '@freesewing/plugin-grainline': *freesewing
    '@freesewing/plugin-i18n': *freesewing
    '@freesewing/plugin-logo': *freesewing
    '@freesewing/plugin-measurements': *freesewing
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/plugin-notches': *freesewing
    '@freesewing/plugin-round': *freesewing
    '@freesewing/plugin-scalebox': *freesewing
    '@freesewing/plugin-sprinkle': *freesewing
    '@freesewing/plugin-svgattr': *freesewing
    '@freesewing/plugin-theme': *freesewing
    '@freesewing/plugin-title': *freesewing
    '@freesewing/plugin-validate': *freesewing
rehype-jargon:
  _:
    'unist-util-visit': '^4.1.0'
    'hast-util-from-html': '^1.0.0'
simon:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
    '@freesewing/plugin-flip': *freesewing
simone:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/simon': *freesewing
    '@freesewing/plugin-flip': *freesewing
    '@freesewing/plugin-bust': *freesewing
sven:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
tamiko:
  peer:
    '@freesewing/plugin-bust': *freesewing
teagan:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
wahid:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
yuri:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing

