_types:
  design:
    peer:
      '@freesewing/core': &freesewing '{{version}}'
      '@freesewing/plugin-bundle': *freesewing
    dev:
      'mocha': &mocha '10.2.0'
      'chai': &chai '4.3.7'
      '@freesewing/models': *freesewing
      '@freesewing/plugin-timing': *freesewing
  plugin:
    peer:
      '@freesewing/core': *freesewing
    dev:
      'mocha': *mocha
      'chai': *chai
aaron:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
bee:
  peer:
    '@freesewing/bella': *freesewing
bent:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/plugin-bust': *freesewing
breanna:
  peer:
    '@freesewing/brian': *freesewing
brian:
  peer:
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/plugin-bust': *freesewing
carlita:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/bent': *freesewing
    '@freesewing/carlton': *freesewing
    '@freesewing/plugin-bust': *freesewing
    '@freesewing/plugin-mirror': *freesewing
carlton:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/bent': *freesewing
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/plugin-bust': *freesewing
charlie:
  peer:
    '@freesewing/plugin-bartack': *freesewing
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/titan': *freesewing
    '@freesewing/snapseries': *freesewing
core:
  _:
    'bezier-js': '6.1.3'
    'bin-pack-with-constraints': '1.0.1'
    'hooks': '0.3.2'
    'lodash.get': &_get '4.4.2'
    'lodash.set': &_set '4.3.2'
    'lodash.unset': &_unset '4.5.2'
    'lodash.clonedeep': '^4.5.0'
  dev:
    'eslint': &eslint '8.38.0'
    'nyc': '15.1.0'
    'mocha': *mocha
    'chai': *chai
    'sinon': &sinon '^15.0.1'
diana:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
examples:
  peer:
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/plugin-gore': *freesewing
holmes:
  _:
    '@freesewing/plugin-gore': *freesewing
  peer:
    '@freesewing/plugin-bust': *freesewing
huey:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
hugo:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
i18n:
  dev:
    'js-yaml': '4.1.0'
  peer:
    '@freesewing/pattern-info': *freesewing
jaeger:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/bent': *freesewing
    '@freesewing/plugin-bust': *freesewing
    '@freesewing/plugin-mirror': *freesewing
new-design:
  _:
    'axios': '1.3.6'
    'chalk': '5.0.1'
    'execa': '7.1.1'
    'mustache': '4.2.0'
    'ora': '6.1.0'
    'prompts': '2.4.2'
    'recursive-readdir': '2.2.3'
noble:
  peer:
    '@freesewing/bella': *freesewing
paco:
  peer:
    '@freesewing/titan': *freesewing
    '@freesewing/snapseries': *freesewing
plugin-bundle:
  dev:
    '@freesewing/plugin-annotations': *freesewing
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/plugin-round': *freesewing
    '@freesewing/plugin-sprinkle': *freesewing
plugintest:
  peer:
    '@freesewing/plugin-annotations': *freesewing
    '@freesewing/plugin-bust': *freesewing
    '@freesewing/plugin-flip': *freesewing
    '@freesewing/plugin-gore': *freesewing
    '@freesewing/plugin-i18n': *freesewing
    '@freesewing/plugin-measurements': *freesewing
    '@freesewing/plugin-mirror': *freesewing
    '@freesewing/plugin-round': *freesewing
    '@freesewing/plugin-sprinkle': *freesewing
    '@freesewing/plugin-svgattr': *freesewing
    '@freesewing/plugin-theme': *freesewing
    '@freesewing/plugin-validate': *freesewing
rehype-jargon:
  _:
    'unist-util-visit': &unist-util-visit '4.1.2'
    'hast-util-from-html': '1.0.1'
rehype-highlight-lines:
  _:
    'unist-util-remove': '3.1.1'
sandy:
  peer:
    '@freesewing/snapseries': *freesewing
shin:
  peer:
    '@freesewing/snapseries': *freesewing
simon:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
    '@freesewing/plugin-flip': *freesewing
simone:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/simon': *freesewing
    '@freesewing/plugin-flip': *freesewing
    '@freesewing/plugin-bust': *freesewing
sven:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
tamiko:
  peer:
    '@freesewing/plugin-bust': *freesewing
teagan:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
titan:
  peer:
    '@freesewing/snapseries': *freesewing
trayvon:
  peer:
    '@freesewing/snapseries': *freesewing
wahid:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing
yuri:
  peer:
    '@freesewing/brian': *freesewing
    '@freesewing/plugin-bust': *freesewing

# Sites go here

backend:
  _:
    '@aws-sdk/client-sesv2': '3.316.0'
    '@prisma/client': &prisma '4.13.0'
    'bcryptjs': '2.4.3'
    'cors': '2.8.5'
    'crypto': '1.0.1'
    'dotenv': '16.0.3'
    'express': '4.18.2'
    'lodash.get': *_get
    'mustache': '4.2.0'
    'otplib': '12.0.1'
    'passport': '0.6.0'
    'passport-http': '0.3.0'
    'passport-jwt': '4.0.1'
    'pino': '8.11.0'
    'qrcode': '1.5.1'
    'swagger-ui-dist': '4.18.2'
    'swagger-ui-express': '4.6.2'
  dev:
    'chai': *chai
    'chai-http': '4.3.0'
    'esbuild': '0.17.18'
    'mocha': *mocha
    'mocha-steps': '1.3.0'
    'nodemon': '2.0.22'
    'prisma': *prisma

dev:
  _:
    '@mdx-js/loader': &mdx '2.3.0'
    '@mdx-js/mdx': *mdx
    '@mdx-js/react': *mdx
    '@mdx-js/runtime': &mdxRuntime '2.0.0-next.9'
    '@next/bundle-analyzer': &next '13.3.1'
    '@tailwindcss/typography': &tailwindTypography '0.5.9'
    'algoliasearch': '4.17.0'
    'daisyui': &daisyui '2.51.6'
    'lodash.get': *_get
    'lodash.orderby': &_orderby '4.6.0'
    'lodash.set': *_set
    'next': *next
    'react': &react '18.2.0'
    'react-copy-to-clipboard': &reactCopyToClipboard '5.1.0'
    'react-dom': *react
    'react-hotkeys-hook': &reactHotkeysHook '4.4.0'
    'react-instantsearch-dom': &reactInstantsearchDom '6.39.1'
    'react-markdown': &reactMarkdown '8.0.7'
    'react-swipeable': &reactSwipeable '7.0.0'
    'react-timeago': &reactTimeago '7.1.0'
    'rehype-autolink-headings': &rehypeAutolinkHeadings '6.1.1'
    'rehype-highlight': &rehypeHighlight '6.0.0'
    'rehype-sanitize': &rehypeSanitize '5.0.1'
    'rehype-slug': &rehypeSlug '5.1.0'
    'rehype-stringify': &rehypeStringify '9.0.3'
    'remark-copy-linked-files': &remarkCopyLinkedFiles 'https://github.com/joostdecock/remark-copy-linked-files'
    'remark-gfm': &remarkGfm '3.0.1'
  dev: &nextSiteDevDependencies
    '@playwright/test': '^1.32.3'
    'autoprefixer': '10.4.14'
    'eslint-config-next': *next
    'js-yaml': &jsYaml '4.1.0'
    'postcss': &postcss '8.4.22'
    'playwright': '^1.32.3'
    'remark-extract-frontmatter': '3.2.0'
    'tailwindcss': &tailwindcss '3.3.1'
    'yaml-loader': '0.8.0'

email:
  _:
    '@maizzle/framework': '4.4.4'
    'tailwindcss-box-shadow': '2.0.1'
    'tailwindcss-email-variants': '2.0.1'
    'tailwindcss-mso': '1.3.0'

lab:
  _:
    '@headlessui/react': &headlessUiReact '1.7.14'
    '@mdx-js/loader': *mdx
    '@mdx-js/mdx': *mdx
    '@mdx-js/react': *mdx
    '@mdx-js/runtime': *mdxRuntime
    '@tailwindcss/typography': *tailwindTypography
    'algoliasearch': &algoliasearch '4.17.0'
    'd3-dispatch': '3.0.1'
    'd3-drag': '3.0.0'
    'd3-selection': '3.0.0'
    'daisyui': *daisyui
    'i18next': &i18next '22.4.14'
    'lodash.get': *_get
    'lodash.orderby': *_orderby
    'lodash.set': *_set
    'next': *next
    'next-i18next': &nextI18next '13.2.2'
    'react': *react
    'react-copy-to-clipboard': *reactCopyToClipboard
    'react-hotkeys-hook': *reactHotkeysHook
    'react-i18next': &reactI18next '12.2.0'
    'react-instantsearch-dom': *reactInstantsearchDom
    'react-markdown': *reactMarkdown
    'react-swipeable': *reactSwipeable
    'react-timeago': *reactTimeago
    'rehype-autolink-headings': *rehypeAutolinkHeadings
    'rehype-highlight': *rehypeHighlight
    'rehype-sanitize': *rehypeSanitize
    'rehype-slug': *rehypeSlug
    'rehype-stringify': *rehypeStringify
    'remark-copy-linked-files': *remarkCopyLinkedFiles
    'remark-gfm': *remarkGfm
  dev:
    *nextSiteDevDependencies

org:
  _:
    '@bugsnag/js': &bugsnag 7.18.0
    '@bugsnag/plugin-react': *bugsnag
    '@mdx-js/loader': *mdx
    '@mdx-js/mdx': *mdx
    '@mdx-js/react': *mdx
    '@mdx-js/runtime': *mdxRuntime
    '@tailwindcss/typography': *tailwindTypography
    'algoliasearch': *algoliasearch
    'react-copy-to-clipboard': 5.1.0
    'daisyui': *daisyui
    'lodash.get': *_get
    'lodash.orderby': *_orderby
    'lodash.set': *_set
    'luxon': '3.3.0'
    'next': *next
    'react-dropzone': '14.2.3'
    'react-hotkeys-hook': *reactHotkeysHook
    'react-instantsearch-dom': *reactInstantsearchDom
    'react-hot-toast': 2.4.0
    'react-markdown': *reactMarkdown
    'react-swipeable': *reactSwipeable
    'react-timeago': *reactTimeago
    'rehype-autolink-headings': *rehypeAutolinkHeadings
    'rehype-highlight': *rehypeHighlight
    'rehype-sanitize': *rehypeSanitize
    'rehype-slug': *rehypeSlug
    'rehype-stringify': *rehypeStringify
    'remark-copy-linked-files': *remarkCopyLinkedFiles
    'remark-gfm': *remarkGfm
    'yaml-loader': 0.8.0
  dev: *nextSiteDevDependencies

sanity:
  _:
    '@sanity/vision': &sanity '3.9.0'
    'react': *react
    'react-dom': *react
    'react-is': *react
    'sanity': *sanity
    'styled-components': '5.3.9'
    'sanity-plugin-markdown': '4.1.0'
  dev:
    '@sanity/eslint-config-studio': '2.0.1'
    'eslint': *eslint
    'prettier': '2.8.8'
    'typescript': '5.0.4'
    '@sanity/cli': '3.9.0'

shared:
  _:
    '@headlessui/react': *headlessUiReact
    '@resvg/resvg-js': '2.4.1'
    '@tailwindcss/typography': *tailwindTypography
    'Buffer': '0.0.0'
    'd3-dispatch': '3.0.1'
    'd3-drag': '3.0.0'
    'd3-selection': '3.0.0'
    'daisyui': *daisyui
    'feed': '4.2.2'
    'file-saver': '2.0.5'
    'front-matter': '4.0.2'
    'highlight.js': '11.7.0'
    'lodash.clonedeep': '4.5.0'
    'lodash.orderby': *_orderby
    'lodash.unset': *_unset
    'lodash.get': *_get
    'mdast-util-toc': '6.1.1'
    'mermaid': '10.1.0'
    'pdfkit': '0.13.0'
    'postcss-for': '2.1.1'
    'react': *react
    'react-dom': *react
    'react-markdown': *reactMarkdown
    'react-sizeme': '3.0.2'
    'react-timeago': *reactTimeago
    'react-zoom-pan-pinch': '3.0.7'
    'rehype-autolink-headings': *rehypeAutolinkHeadings
    'rehype-highlight': *rehypeHighlight
    'remark-smartypants': '2.0.0'
    'sharp': '0.32.0'
    'svg-to-pdfkit': 'https://github.com/eriese/SVG-to-PDFKit'
    'tlds': '1.238.0'
    'to-vfile': '7.2.4'
    'unist-util-visit': *unist-util-visit
    'web-worker': '1.2.0'
