_:
  build: 'node build.mjs'
  clean: 'rimraf dist'
  mbuild: 'NO_MINIFY=1 node build.mjs'
  symlink: 'mkdir -p ./node_modules/@freesewing && cd ./node_modules/@freesewing && ln -s -f ../../../* . && cd -'
  test: 'echo "{{name}}: No tests configured. Perhaps you could write some?" && exit 0'
  vbuild: 'VERBOSE=1 node build.mjs'
  lab: 'cd ../../sites/lab && yarn start'
  tips: 'node ../../scripts/help.mjs'
  lint: "npx eslint 'src/**' 'tests/*.mjs'"
_types:
  design:
    prettier: "npx prettier --write 'src/*.mjs' 'tests/*.mjs'"
    test: &test 'npx mocha tests/*.test.mjs'
    testci: &testci 'npx mocha tests/*.test.mjs --reporter ../../tests/reporters/terse.js'
  plugin:
    prettier: "npx prettier --write 'src/*.mjs' 'tests/*.mjs'"
    test: *test
    testci: *testci
core:
  report: 'c8 report'
  test: 'c8 mocha tests/*.test.mjs'
  testci: 'c8 mocha tests/*.test.mjs'
  prettier: "npx prettier --write 'src/*.mjs' 'tests/*.mjs'"
  lint: "npx eslint 'src/*.mjs' 'tests/*.mjs'"
  jsdoc: 'jsdoc -c jsdoc.json -r src'
i18n:
  prebuild: 'node scripts/prebuilder.mjs'
models:
  test: 'npx mocha tests/*.test.mjs'
new-design:
  i18n-only: 'SITE="new-design/shared" node ../../sites/shared/prebuild/i18n-only.mjs'
  wbuild: '!'
  lint: "npx eslint 'lib/*.mjs'"
  mbuild: '!'
  test: '!'
  testci: '!'
  vbuild: '!'
rehype-highlight-lines:
  build: '!'
  mbuild: '!'
  vbuild: '!'
  lint: "npx eslint 'src/*.mjs'"
rehype-jargon:
  lint: "npx eslint 'src/*.mjs'"
snapseries:
  lint: "npx eslint 'src/*.mjs'"

# Sites go here
backend:
  build: 'node build.mjs'
  clean: 'rimraf dist'
  dev: 'nodemon src/index.mjs'
  initdb: 'npx prisma db push'
  mbuild: 'NO_MINIFY=1 node build.mjs'
  newdb: 'node ./scripts/newdb.mjs'
  prettier: "npx prettier --write 'src/*.mjs' 'tests/*.mjs'"
  rmdb: 'node ./scripts/rmdb.mjs'
  test: 'npx mocha --require mocha-steps tests/index.mjs'
  vbuild: 'VERBOSE=1 node build.mjs'
  prebuild: 'node scripts/prebuild.mjs'

dev:
  build: &nextBuild 'next build'
  cibuild: 'yarn build && node scripts/algolia.mjs'
  clean: &nextClean 'rimraf prebuild/* && rimraf public/locales/*/* && rimraf public/feeds/*'
  dev: &nextDev 'next dev -p 8000'
  develop: *nextDev
  i18n: "SITE=dev node ../shared/prebuild/i18n-only.mjs"
  lint: &nextLint 'next lint'
  prebuild: 'SITE=dev node --experimental-json-modules ../shared/prebuild/index.mjs'
  serve: "pm2 start npm --name 'dev' -- run start"
  start: &nextStart 'yarn prebuild && yarn dev'

email:
  build: 'maizzle build production'
  dev: 'maizzle serve'

lab:
  build: *nextBuild
  cibuild: 'yarn build'
  clean: 'rimraf pages/*.mjs && rimraf pages/*/*.mjs && rimraf pages/v/*/*.mjs'
  dev: *nextDev
  develop: *nextDev
  e2e: &e2e 'yarn playwright test'
  lint: *nextLint
  prebuild: 'SITE=lab node --experimental-json-modules ../shared/prebuild/index.mjs'
  start: *nextStart

org:
  build: *nextBuild
  cibuild: 'yarn build'
  clean: *nextClean
  dev: *nextDev
  develop: *nextDev
  i18n: 'SITE=org node ../shared/prebuild/i18n-only.mjs'
  lint: *nextLint
  prebuild: 'SITE=org node --experimental-json-modules ../shared/prebuild/index.mjs'
  start: *nextStart

sanity:
  dev: 'sanity dev'
  start: 'sanity start'
  build: 'sanity build -y'
