.box {
  text-align: center;
  width: 100%;
}

.buttons {
  padding: 1rem 2rem;
  margin-top: 2rem;
}
button.picker {
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border: 1px solid transparent;
  border-bottom: 4px solid #fff6;
  background: transparent;
}
button.picker:hover {
  border-bottom: 4px solid #61dafb;
}
footer.picker {
  position: fixed;
  bottom: 2rem;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.link {
  padding: 0.5rem;
  font-weight: normal;
}
