div.config {
  border: 1px solid #fffa;
  border-radius: 4px;
  padding: 1rem;
  margin: 0.5rem;
}
table.config {
  width: 300px;
  text-align: left;
}
table.config td {
  padding: 0.1rem 0.5rem;
}
td.option {
  padding-left: 1rem;
}
span.key,
span.subkey {
  font-weight: bold;
  padding-right: 0.5rem;
}
span.true,
span.false {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}
span.true {
  color: #58fc58;
}
span.false {
  color: #f97070;
}
span.key {
  color: #61dafb;
  font-family: 'Roboto Condensed', sans-serif;
}
ul.config,
ol.config {
  margin: 0.2rem 0;
  padding-left: 1.5rem;
}

