{
  "name": "{{pluginName}}",
  "version": "0.0.1",
  "description": "{{description}}",
  "author": "Joost De Cock <joost@joost.at> (https://codeberg.org/joostdecock)",
  "homepage": "https://freesewing.eu/",
  "repository": "https://codeberg.org/freesewing/freesewing",
  "license": "MIT",
  "main": "dist/index.mjs",
  "module": "dist/index.mjs",
  "scripts": {}
}
