/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/*
 * Add Tailwindcss
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Applied styles for common HTML tags */
  h1 {
    @apply text-base-content text-4xl py-5 font-bold lg:text-6xl;
  }
  h2 {
    @apply text-base-content text-3xl pt-4 pb-3 m-0 font-medium lg:text-4xl;
  }
  h3 {
    @apply text-base-content text-2xl pt-3 pb-2 m-0 font-medium lg:text-3xl;
  }
  h4 {
    @apply text-base-content text-xl pt-2 pb-1 m-0 font-medium lg:text-2xl;
  }
  h5 {
    @apply text-base-content text-lg py-1 m-0 font-medium lg:text-xl;
  }
  h6 {
    @apply text-base-content text-base py-0 m-0 font-medium lg:text-lg;
  }
  p {
    @apply text-base-content my-1 py-2 text-base leading-6;
  }
  .btn {
    @apply normal-case;
  }
  /* Keep spacing after headings between p and non-p consistent */
  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p {
    padding-top: 0;
    margin-top: 0;
  }

  /* mdx styles */
  .md a:not(.btn),
  .mdx a:not(.btn) {
    @apply underline decoration-2 text-secondary;
  }
  .md a:hover,
  .mdx a:hover {
    @apply decoration-4;
  }
  .mdx ul {
    @apply pl-0 lg:pl-4  list-disc list-inside text-base-content;
  }
  .mdx ol ul,
  .mdx ul ul {
    @apply pl-2 lg:pl-4  list-disc list-inside text-base-content;
  }
  .mdx ol {
    @apply pl-0 lg:pl-4 list-decimal list-inside text-base-content;
  }
  .mdx ul ol,
  .mdx ol ol {
    @apply pl-2 lg:pl-4 list-decimal list-inside text-base-content;
  }
  .mdx code {
    @apply bg-base-300 px-1.5 text-base-content font-mono font-medium bg-opacity-10 py-0.5 border-base-content rounded border;
  }
  .mdx pre code {
    @apply bg-inherit border-0;
  }
  .mdx a.heading-autolink {
    color: currentColor;
    text-decoration: none;
  }
  .mdx a.heading-autolink:after {
    content: '';
    color: hsl(var(--s));
    font-size: 75%;
    padding-left: 0.5rem;
  }
}

/* You can override the default Infima variables here. */
:root {
  /* Neutral */
  --neutral-50: 0 0% 98%;
  --neutral-100: 0 0% 96.1%;
  --neutral-200: 0 0% 89.8%;
  --neutral-300: 0 0% 83.1%;
  --neutral-400: 0 0% 63.9%;
  --neutral-500: 0 0% 45.1%;
  --neutral-600: 0 0% 32.2%;
  --neutral-700: 0 0% 25.1%;
  --neutral-800: 0 0% 14.9%;
  --neutral-900: 0 0% 9%;
  --neutral-950: 0 0% 3.9%;

  /* Sky */
  --sky-50: 204 100% 97.1%;
  --sky-100: 204 93.8% 93.7%;
  --sky-200: 200.6 94.4% 86.1%;
  --sky-300: 199.4 95.5% 73.9%;
  --sky-400: 198.4 93.2% 59.6%;
  --sky-500: 198.6 88.7% 48.4%;
  --sky-600: 200.4 98% 39.4%;
  --sky-700: 201.3 96.3% 32.2%;
  --sky-800: 201 90% 27.5%;
  --sky-900: 202 80.3% 23.9%;
  --sky-950: 204 80.2% 15.9%;

  /* Violet */
  --violet-50: 250 100% 97.6%;
  --violet-100: 251.4 91.3% 95.5%;
  --violet-200: 250.5 95.2% 91.8%;
  --violet-300: 252.5 94.7% 85.1%;
  --violet-400: 255.1 91.7% 76.3%;
  --violet-500: 258.3 89.5% 66.3%;
  --violet-600: 262.1 83.3% 57.8%;
  --violet-700: 263.4 70% 50.4%;
  --violet-800: 263.4 69.3% 42.2%;
  --violet-900: 263.5 67.4% 34.9%;
  --violet-950: 261.2 72.6% 22.9%;

  /* Pink */
  --pink-50: 327.3 73.3% 97.1%;
  --pink-100: 325.7 77.8% 94.7%;
  --pink-200: 325.9 84.6% 89.8%;
  --pink-300: 327.4 87.1% 81.8%;
  --pink-400: 328.6 85.5% 70.2%;
  --pink-500: 330.4 81.2% 60.4%;
  --pink-600: 333.3 71.4% 50.6%;
  --pink-700: 335.1 77.6% 42%;
  --pink-800: 335.8 74.4% 35.3%;
  --pink-900: 335.9 69% 30.4%;
  --pink-950: 336.2 83.9% 17.1%;

  /* Color Palette */
  --ifm-color-primary: hsl(var(--sky-500));
  --ifm-color-primary-dark: hsl(var(--sky-600));
  --ifm-color-primary-light: hsl(var(--sky-400));
  --ifm-color-secondary: hsl(var(--sky-300));
  --ifm-color-tertiary: hsl(var(--pink-500));

  /* Text Colors */
  --ifm-font-color-base: hsl(var(--neutral-900));
  --ifm-font-color-light: hsl(var(--neutral-50));
  --ifm-font-color-secondary: hsl(var(--sky-500));

  /* Background Colors */
  --ifm-background-color: hsl(var(--neutral-50));
  --ifm-background-color-secondary: hsl(var(--neutral-100));

  /* Borders and Outlines */
  --ifm-border-color: hsl(var(--neutral-200));
  --ifm-outline-color: hsl(var(--pink-300));

  /* Link colors */
  --ifm-link-color: hsl(var(--sky-600));
  --ifm-link-hover-color: hsl(var(--sky-700));

  /* Button Colors */
  --ifm-button-color: hsl(var(--neutral-50));
  --ifm-button-background-color: hsl(var(--sky-500));
  --ifm-button-background-hover-color: hsl(var(--sky-700));
  --ifm-button-border-color: hsl(var(--sky-600));

  /* Font Sizes and Spacing */
  --ifm-font-size-base: 16px;
  --ifm-line-height-base: 1.5;
  --ifm-spacing-unit: 8px;
  --ifm-spacing-base: 16px;

  /* Sidebar/Navigation Customizations */
  --ifm-sidebar-background-color: hsl(var(--neutral-50));
  --ifm-sidebar-link-color: hsl(var(--neutral-500));
  --ifm-sidebar-link-hover-color: hsl(var(--sky-600));
  --ifm-sidebar-active-link-color: hsl(var(--sky-600));
  --ifm-sidebar-item-spacing: 8px;

  /* Navbar Customizations */
  --ifm-navbar-background-color: hsl(var(--sky-700));
  --ifm-navbar-link-color: hsl(var(--neutral-50));
  --ifm-navbar-link-hover-color: hsl(var(--sky-300));

  /* Footer colors */
  --ifm-footer-background-color: hsl(var(--neutral-100));
  --ifm-footer-link-color: hsl(var(--sky-600));

  /*
   * These are variables to style FreeSewing SVG output (drafts, examples, and so on)
   */
  --pattern-bg: #fafafa;
  --pattern-fabric: #404040;
  --pattern-lining: #10b981;
  --pattern-interfacing: #a3a3a3;
  --pattern-canvas: #d97706;
  --pattern-various: #ef4444;
  --pattern-mark: #3b82f6;
  --pattern-contrast: #ec4899;
  --pattern-note: #8b5cf6;
  --pattern-color-0: #ef4444;
  --pattern-color-1: #22c55e;
  --pattern-color-2: #3b82f6;
  --pattern-color-3: #eab308;
  --pattern-color-4: #ec4899;
  --pattern-color-5: #8b5cf6;
  --pattern-color-6: #14b8a6;
  --pattern-color-7: #f59e0b;
  --pattern-color-8: #d946ef;
  --pattern-color-9: #06b6d4;
  --pattern-text-xs: 0.2rem;
  --pattern-text-sm: 0.3rem;
  --pattern-text: 0.4rem;
  --pattern-text-lg: 0.6rem;
  --pattern-text-xl: 0.8rem;
  --pattern-text-2xl: 1.5rem;
  --pattern-text-3xl: 2rem;
  --pattern-text-4xl: 3rem;
  --pattern-scale: 1;
  --pattern-stroke-xs: 0.2px;
  --pattern-stroke-sm: 0.4px;
  --pattern-stroke: 0.7px;
  --pattern-stroke-lg: 1.3px;
  --pattern-stroke-xl: 2px;
  --pattern-stroke-2xl: 4px;
  --pattern-stroke-3xl: 6px;
  --pattern-stroke-4xl: 8px;
  --pattern-stroke-5xl: 12px;
  --pattern-stroke-6xl: 16px;
  --pattern-stroke-7xl: 20px;
}

@media screen and (max-width: 996px) {
  :root {
    --ifm-menu-color: hsl(var(--neutral-50));
  }
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /* Text Colors */
  --ifm-font-color-base: hsl(var(--neutral-200));
  --ifm-font-color-light: hsl(var(--neutral-50));

  /* Background Colors */
  --ifm-background-color: hsl(var(--neutral-900));
  --ifm-background-color-secondary: hsl(var(--neutral-100));

  /* Borders and Outlines */
  --ifm-border-color: hsl(var(--neutral-200));

  /* Link colors */
  --ifm-link-color: hsl(var(--sky-400));
  --ifm-link-hover-color: hsl(var(--sky-500));

  /* Button Colors */
  --ifm-button-color: hsl(var(--neutral-600));

  /* Navbar Customizations */
  --ifm-navbar-background-color: hsl(var(--neutral-900));
  --ifm-navbar-link-color: hsl(var(--neutral-50));
  --ifm-navbar-link-hover-color: hsl(var(--sky-300));

  /* Footer colors */
  --ifm-footer-background-color: hsl(var(--neutral-900));
  --ifm-footer-link-color: hsl(var(--sky-300));
}

div.footer__copyright {
  font-size: 0.8rem;
}
div.footer__copyright a {
  font-weight: bold;
}

.caption {
  text-align: center;
  font-style: italic;
  margin-top: -1rem;
}

.tag,
.technique {
  background: var(--ifm-color-primary);
  padding: 0.2rem 0.5rem;
  font-weight: bold;
  color: var(--ifm-font-color-light);
  border-radius: 0.5rem;
}

.technique {
  background: hsl(var(--pink-500));
}

p > figure.mdx {
  padding: 0;
  margin: 0;
}
figure.mdx {
  margin: 0;
  padding: 1rem 0 0;
}
figure.mdx > img {
  padding: 1rem;
}
figcaption.mdx {
  font-style: italic;
  margin-top: -0.25rem;
  opacity: 0.8;
  padding: 0 0.5rem;
  font-size: 90%;
}

/*
 * fixes
 */
.avatar img {
  width: var(--ifm-avatar-photo-size);
  height: var(--ifm-avatar-photo-size);
}
.avatar > div {
  aspect-ratio: auto;
}
