.style-wrapper a:not(.MuiButton-root),
.theme-wrapper a:not(.MuiButton-root) {
  text-decoration: none;
}
.style-wrapper a:not(.MuiButton-root):hover,
.theme-wrapper a:not(.MuiButton-root):hover {
  text-decoration: underline;
}
.style-wrapper.light a:not(.MuiButton-root),
.theme-wrapper.light a:not(.MuiButton-root) {
  color: $fs-link-light;
}
.style-wrapper.dark a:not(.MuiButton-root),
.theme-wrapper.dark a:not(.MuiButton-root) {
  color: $fs-link-dark;
}
.style-wrapper.light a.anchor svg path,
.theme-wrapper.light a.anchor svg path {
  stroke: $fs-link-light;
}
.style-wrapper.dark a.anchor svg path,
.theme-wrapper.dark a.anchor svg path {
  stroke: $fs-link-dark;
}
