blockquote {
  width: calc(100% - 3rem);
  border-radius: 4px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: $oc-gray-1;
  border: 1px solid $oc-gray-2;
  position: relative;
  svg.icon {
    color: $oc-gray-7;
    position: absolute;
    top: calc(50% - 18px);
    left: -18px;
    padding: 5px;
    background: inherit;
    border-radius: 50%;
    border: 1px solid transparent;
    border-color: inherit;
  }
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote > p:last-of-type {
  margin-bottom: 0;
}

blockquote.note {
  background: lighten($oc-violet-0, 1);
  border-color: $oc-violet-2;
  svg.icon.note {
    color: $oc-gray-0;
    background: $oc-violet-6;
  }
}
blockquote.tip {
  background: lighten($oc-yellow-0, 1);
  border-color: $oc-yellow-3;
  svg.icon.tip {
    color: $oc-gray-0;
    background: $oc-yellow-6;
  }
}
blockquote.warning {
  background: $oc-red-0;
  border-color: $oc-red-3;
  svg.icon.warning {
    color: $oc-gray-0;
    background: $oc-red-7;
  }
}

blockquote.fixme {
  border: 1px $oc-orange-6 dashed;
  background: transparent;
}
blockquote.fixme:after {
  @include title-font;
  content: 'FIXME';
  display: block;
  position: absolute;
  bottom: -25px;
  left: 20px;
  color: #fff;
  background: $oc-orange-6;
  padding: 4px 8px;
  font-size: 16px;
  line-height: 16px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-weight: 700;
  text-shadow: none;
}

@include xs-screen {
  blockquote {
    margin: 2rem -1.5rem;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    width: 100%;
    svg.icon {
      left: calc(50% - 18px);
      top: -18px;
    }
  }
  blockquote.fixme {
    border-left: 0;
    border-right: 0;
  }
}

.theme-wrapper.dark {
  blockquote {
    background: $oc-gray-8;
    border-color: $oc-gray-7;
  }
  blockquote.note {
    background: darken($oc-violet-9, 30);
    border-color: $oc-violet-9;
    svg.icon.note {
      color: $oc-gray-0;
      background: $oc-violet-9;
    }
  }
  blockquote.tip {
    background: darken($oc-yellow-9, 35);
    border-color: $oc-yellow-9;
    svg.icon.tip {
      color: $oc-gray-0;
      background: $oc-yellow-9;
    }
  }
  blockquote.warning {
    background: darken($oc-red-9, 30);
    border-color: $oc-red-9;
    svg.icon.warning {
      color: $oc-gray-0;
      background: $oc-red-9;
    }
  }
  blockquote.fixme {
    border: 1px $oc-orange-6 dashed;
    background: transparent;
  }
}

@include xs-screen {
  .theme-wrapper.dark blockquote.fixme {
    border-left: 0;
    border-right: 0;
  }
}
