blockquote {
  width: calc(100% - 3rem);
  max-width: 666px;
  border-radius: 4px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: #fff;
  border: 2px solid $oc-gray-2;
  position: relative;
  svg.icon {
    color: $oc-gray-0;
    position: absolute;
    top: calc(50% - 18px);
    left: -18px;
    padding: 5px;
    background: inherit;
    border-radius: 50%;
    border: none;
  }
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote > p:last-of-type {
  margin-bottom: 0;
}

blockquote.note {
  border-color: $oc-indigo-2;
  svg.icon.note {
    background-color: $oc-indigo-5;
  }
}
blockquote.tip {
  border-color: $oc-green-2;
  svg.icon.tip {
    background-color: $oc-green-5;
  }
}
blockquote.warning {
  border-color: $oc-orange-2;
  svg.icon.warning {
    background-color: $oc-orange-5;
  }
}

blockquote.fixme {
  border: 2px $oc-yellow-3 dashed;
}
blockquote.fixme:after {
  @include title-font;
  content: 'FIXME';
  display: block;
  position: absolute;
  bottom: -25px;
  left: 20px;
  color: $oc-gray-8;
  background: $oc-yellow-3;
  padding: 4px 8px;
  font-size: 16px;
  line-height: 16px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-weight: 700;
  text-shadow: none;
}

@include xs-screen {
  blockquote {
    margin: 2rem -1.5rem;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    width: 100%;
    svg.icon {
      left: calc(50% - 18px);
      top: -18px;
    }
  }
  blockquote.fixme {
    border-left: 0;
    border-right: 0;
  }
}

.theme-wrapper.dark {
  blockquote {
    background: $oc-gray-9;
    border-color: $oc-gray-7;
    > svg.icon {
      border: none;
    }
  }
  blockquote.note {
    border-color: $oc-indigo-9;
    svg.icon.note {
      background-color: $oc-indigo-9;
    }
  }
  blockquote.tip {
    border-color: $oc-green-9;
    svg.icon.tip {
      background-color: $oc-green-9;
    }
  }
  blockquote.warning {
    border-color: $oc-orange-9;
    svg.icon.warning {
      background-color: $oc-orange-9;
    }
  }
  blockquote.fixme {
    border: 2px $oc-yellow-3 dashed;
  }
}
@include xs-screen {
  .theme-wrapper.dark blockquote.fixme {
    border-left: 0;
    border-right: 0;
  }
}
