.style-wrapper.dark,
.style-wrapper.light,
.theme-wrapper.dark,
.theme-wrapper.light {
  .MuiButton-containedPrimary.info {
    background-color: $fc-info-light;
  }
  .MuiButton-containedPrimary.info:hover {
    background-color: darken($fc-info-light, 10%);
  }

  .MuiButton-containedPrimary.success {
    background-color: $fc-success-light;
  }
  .MuiButton-containedPrimary.success:hover {
    background-color: darken($fc-success-light, 10%);
  }

  .MuiButton-containedPrimary.warning {
    background-color: $fc-warning-light;
  }
  .MuiButton-containedPrimary.warning:hover {
    background-color: darken($fc-warning-light, 10%);
  }

  .MuiButton-containedPrimary.danger {
    background-color: $fc-danger-light;
  }
  .MuiButton-containedPrimary.danger:hover {
    background-color: darken($fc-danger-light, 10%);
  }

  .MuiButton-containedPrimary.accent {
    background-color: $fc-accent-light;
  }
  .MuiButton-containedPrimary.accent:hover {
    background-color: darken($fc-accent-light, 10%);
  }
}

.theme-wrapper.light {
  .MuiButton-containedPrimary {
    background-color: $fc-bg-dark;
  }
  .MuiButton-containedPrimary:hover {
    background-color: #000;
  }
  .MuiButton-contained.Mui-disabled {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
.theme-wrapper.dark {
  .MuiButton-containedPrimary {
    background-color: $fc-bg-light;
  }
  .MuiButton-containedPrimary:hover {
    background-color: darken($fc-bg-light, 10%);
  }
  .MuiButton-contained.Mui-disabled {
    background-color: rgba(2550, 255, 255, 0.12);
  }
}
