.style-wrapper.dark,
.style-wrapper.light,
.theme-wrapper.dark,
.theme-wrapper.light {
  .MuiButton-containedPrimary.info {
    background-color: $fs-info-light;
  }
  .MuiButton-containedPrimary.info:hover {
    background-color: darken($fs-info-light, 10%);
  }

  .MuiButton-containedPrimary.success {
    background-color: $fs-success-light;
  }
  .MuiButton-containedPrimary.success:hover {
    background-color: darken($fs-success-light, 10%);
  }

  .MuiButton-containedPrimary.warning {
    background-color: $fs-warning-light;
  }
  .MuiButton-containedPrimary.warning:hover {
    background-color: darken($fs-warning-light, 10%);
  }

  .MuiButton-containedPrimary.danger {
    background-color: $fs-danger-light;
  }
  .MuiButton-containedPrimary.danger:hover {
    background-color: darken($fs-danger-light, 10%);
  }

  .MuiButton-containedPrimary.accent {
    background-color: $fs-accent-light;
  }
  .MuiButton-containedPrimary.accent:hover {
    background-color: darken($fs-accent-light, 10%);
  }
}

.theme-wrapper.light {
  .MuiButton-containedPrimary {
    background-color: $fs-bg-dark;
  }
  .MuiButton-containedPrimary:hover {
    background-color: #000;
  }
  .MuiButton-contained.Mui-disabled {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
.theme-wrapper.dark {
  .MuiButton-containedPrimary {
    background-color: $fs-bg-light;
  }
  .MuiButton-containedPrimary:hover {
    background-color: darken($fs-bg-light, 10%);
  }
  .MuiButton-contained.Mui-disabled {
    background-color: rgba(2550, 255, 255, 0.12);
  }
}
