// Shadow dom
g#notch {
  circle.note {
    stroke: $oc-violet-5;
    fill: none;
  }
  circle.fill-note {
    fill: $oc-violet-5;
    stroke: none;
  }
}
g#bnotch {
  path,
  circle {
    stroke: $oc-violet-5;
    fill: none;
  }
}
g#button {
  circle.btn {
    stroke: $oc-violet-5;
    fill: none;
  }
  circle.hole {
    fill: $oc-violet-5;
    stroke: none;
  }
}
g#buttonhole {
  path {
    stroke: $oc-violet-5;
    fill: none;
  }
}
