.jargon-term {
  background: $oc-cyan-0;
  text-decoration: none;
}
.jargon-term:after {
  display: none;
}
.jargon-term:hover {
  position: relative;
  text-decoration: none;
  cursor: help;
}
.jargon-term .jargon-info {
  display: none;
}
.jargon-term:hover .jargon-info {
  display: block;
  position: absolute;
  top: 1.5em;
  left: 0;
  background: $fs-bg-light;
  color: $fs-text-light;
  border: 1px solid #dcdcdc;
  padding: 1rem;
  border-radius: 4px;
  font-size: 90%;
  min-width: 250px;
  max-width: 450px;
  z-index: 1;
}
.theme-wrapper.dark {
  .jargon-term {
    background: $oc-cyan-9;
    text-decoration: none;
  }
  .jargon-term:hover .jargon-info {
    background: $fs-bg-dark;
    color: $fs-text-dark;
    border: 1px solid #5a5a5a;
  }
}
