.theme-wrapper.light tr.hover:hover {
  background-color: $oc-gray-1;
}
.theme-wrapper.dark tr.hover:hover {
  background-color: $oc-gray-8;
}

// Data tables
table.data {
  @include button-font;
  border-collapse: collapse;
}
table.data tr {
  margin: 0;
}
table.data td {
  margin: 0;
  padding: 0.5rem 1rem;
}
table.data thead tr {
  border-bottom: 1px solid $oc-gray-5;
}
table.data.with-breasts tbody td.size-34,
table.data.without-breasts tbody td.size-42,
table.data tbody tr.neckcircumference td {
  font-weight: bold;
}
.theme-wrapper.light table.data tr:nth-child(even) {
  background-color: $oc-gray-2;
}
.theme-wrapper.dark table.data tr:nth-child(even) {
  background-color: $oc-gray-8;
}
