ul.links {
  padding-left: 1.5rem;
  line-height: 1.35;
  font-weight: normal;
  li {
    list-style-type: none;
    a { display: inline; }
  }
  li.active { font-weight: bold; }
  li:before {
		content: "\00a0";
		background: $oc-gray-5;
		border-radius: 3.5px;
		display: inline-block;
		height: 7px;
		width: 7px;
		padding: 0;
		margin: 0 0.5rem 0 0;
    font-size: 9px;
    transition: background 0.15s ease-in;
  }
	li.nodot:before {
		content: none;
	}
  li.active:before,
  li:hover:before {
		background: $fs-link-light;
	}
}
@include xs-screen {
  ul.links {
    padding-left: 0.5rem;
  }
}
