name: Unit tests - Jaeger

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: cd packages/jaeger && npm install
        env:
          CI: true
      - name: Install peer & test dependencies
        run: "cd packages/jaeger && npm install @freesewing/core@^2.19.0-rc.0 @freesewing/plugin-bundle@^2.19.0-rc.0 @freesewing/brian@^2.19.0-rc.0 @freesewing/bent@^2.19.0-rc.0 @freesewing/plugin-buttons@^2.19.0-rc.0 @freesewing/plugin-mirror@^2.19.0-rc.0 @freesewing/models@2.19.0-rc.0 @freesewing/pattern-info@2.19.0-rc.0 mocha chai"
        env:
          CI: true
      - name: Build pattern
        run: cd packages/jaeger && npm run build
      - name: Run pattern unit tests
        run: cd packages/jaeger && npm run testci
