name: Unit tests - Wahid

on: [push, pull_request]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: cd packages/wahid && npm install
        env:
          CI: true
      - name: Install peer & dependencies
        run: cd packages/wahid && npm install @freesewing/core @freesewing/plugin-bundle @freesewing/brian @freesewing/plugin-buttons @freesewing/plugin-round @freesewing/models @freesewing/pattern-info
        env:
          CI: true
      - name: Build pattern
        run: cd packages/wahid && npm run build
      - name: Run pattern unit tests
        run: cd packages/wahid && npm run testonlyci
